body
  background-color: #eaeaea
  font-family: 'Josefin Sans', sans-serif
  font-weight: 300
  font-size: 16px

@-ms-viewport
  width: device-width


html
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit
 
a 
  color: inherit 
  
.wrapper
  padding-right: 15px
  padding-left: 15px
  display: flex
  justify-content: center

// DELETE THIS
.container
  margin-right: auto
  margin-left: auto
  padding-right: 15px
  padding-left: 15px
  width: 100%
  @media (min-width: 576px)
    max-width: 540px
  @media (min-width: 768px)
    max-width: 720px
  @media (min-width: 992px)
    max-width: 960px
  @media (min-width: 1200px)
    max-width: 1120px


// HEADER START
.header__logo
  margin-top: 230px
  margin-bottom: 95px
  margin-left: auto
  margin-right: auto
  max-width: 25.5%
  min-width: 250px

.nav
  background-color: white
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 160px
  padding: 35px 0px
  width: 77.777777777%
  &__logo
    margin-left: 5.3%
    @media (max-width: 1000px)
      display: none
  &__input
    text-align: center
    margin-left: 4%
    margin-right: 5%
    max-width: 14%
    background-image: url("../img/find-icon.png")
    background-repeat: no-repeat
    background-size: 13px 17px
    border: 1px solid #798186
    @media (max-width: 1000px)
      max-width: 18%
    @media (max-width: 1300px)
      background: none
  &__menu
    text-transform: uppercase
    list-style-type: none
    display: flex
    justify-content: center
    min-width: 65%
    margin-left: -5%
    @media (max-width: 1000px)
      min-width: 80%
    &-item
        margin-left: 6%
        @media (max-width: 1625px)
          margin-left: 4%
        &--hide
          @media (max-width: 1280px)
            display: none
// HEADER END

//MAIN RECIPE START
.main-recipe
  width: 77.777777777%
  background-image: url('../img/main-recipe.png')
  background-position: center
  background-size: cover

.main-recipe__left
  display: flex
  flex-direction: column
  padding-left: 7%
  padding-top: 3.5%
  padding-bottom: 4%
  &-logo
    max-width: 250px
  p
    margin-top: -10px
    max-width: 30%
    min-width: 220px
  a
    text-align: center
    color: black
    text-transform: uppercase
    font-size: 12px
    width: 100px
    border: 1px solid #798186
    padding: 4px
    margin-top: 10px
  h2
    color: #911026
    font-family: 'Playfair Display', serif
    font-weight: 400
    font-size: 24px
  
//MAIN RECIPE END

//SUB-RECIPES START
.sub-recipes
  background-color: white
  margin-top: 160px
  padding-bottom: 30px
  width: 77.7777777%
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  &__item
    display: flex
    flex-direction: column
    min-width: 28%
    height: auto
    padding: 0px 2%
    @media (max-width: 937px)
      min-width: 65%
    &--tablets
      display: none
      @media (max-width: 1434px) and (min-width: 937px)
        display: flex
    &-img
      padding-top: 40px
    &-name
      font-size: 18px
      max-width: 300px
    &-info
      font-size: 12px
      color: #555
    i
      padding-top: 5px
      padding-right: 7px
//SUB-RECIPES END

//RECIPE WITH SCROLL START
.scroll-recipe
  display: flex
  background-color: white
  width: 77.7777777%
  margin-top: 80px
  @media (max-width: 1200px)
    flex-wrap: wrap
    justify-content: center
    align-items: center
  img
    max-width: 50%
    min-width: 420px
    @media (max-width: 1200px)
      min-width: 339px
      min-height: 275px
      padding-top: 20
  &__header
    display: flex
    flex-direction: column
    max-width: 55%
    height: 440px
    margin: 0px 45px 10px 30px
    @media (max-width: 1200px)
      max-width: 100%
    &-name
      font-family: 'Playfair Display', serif
      color: #055555
      @media (max-width: 1200px)
        text-align: center
    &-info
      color: #555
      margin-top: -10px
      margin-bottom: 25px
    &-save
      background-color: white
      float: right
      padding: 3px
      text-transform: uppercase
      color: #555
      border: 1px solid #555
      font-size: 12px

  &__scroll
    overflow-y: scroll
    margin-bottom: 20px
    &::-webkit-scrollbar-thumb
      background: #555
    &::-webkit-scrollbar
      width: 2px
      height: 7px
      background-color: #ddd
    p
      font-family: 'Playfair Display', serif
      font-weight: bold
//RECIPE WITH SCROLL END


//COMMENTS START
.comments
  display: flex
  justify-content: space-between
  width: 77.7777777%
  @media (max-width:800px)
    flex-wrap: wrap
    justify-content: center

  &__sorry
    display: flex
    flex-direction: column
    align-items: center
    min-height: 515px
    width: 46%
    min-width: 250px
    margin-top: 115px
    background-color: white
    background-image: url('../img/sorry-404.png')
    background-size: 100% 100%
    @media (max-width:1024px)
      background-position: center
      background-size: 100% 60%
      background-repeat: no-repeat
      background-color: #FBFCFD
    @media (max-width:800px)
      display: none
    &-top
      align-self: flex-start
      padding-left: 9%
      padding-top: 7px
    &-text
      margin-top: 170px
      font-size: 32px
      font-weight: bold
    &-subtext
      margin-top: -22px
      text-align: center
      text-transform: uppercase
      color: #a9a9a9
      font-family: 'Playfair Display', serif
      font-weight: 600
    &-back
      padding: 5px 35px
      margin-top: 115px
      border: 1px solid #c2c2c2
      text-transform: uppercase
      color: #3e3e3e
      font-size: 12px
    hr
      width: 85%
      border-color: #ddd
      margin-top: -10px
  
  &__author
    width: 46%
    min-height: 515px
    margin-top: 115px
    background-color: white
    min-width: 250px
    @media (max-width:800px)
      width: 100%
    &-top
      padding-left: 9%
      padding-top: 7px
    &-border
      border-color: #ddd
      margin-top: -10px
      width: 85%
    &-content
      display: flex
      max-width: 90%

    &-photo
      align-self: flex-start
      max-width: 30%
      padding: 2%
      margin-left: 4%
      border-radius: 50%
      @media (max-width:1200px) and (min-width:800px)
        padding-top: 20px
    &-info
      padding-left: 2%
    &-text
      font-style: italic
      @media (max-width: 1280px)
        margin-left: -45%
      @media (max-width: 800px) and (min-width: 650px)
        padding-top: 30px
    &-header
      font-style: normal
      font-size: 20px
      font-weight: 400
    &-name
      display: inline-block
      font-size: 1.5rem
      font-weight: bold
      padding-top: 25px
    &-location
      display: inline-block
      color: black
      padding: 8px 0px
    &-signature
      float: right
      max-width: 50%

    i
      padding-right: 7px
      padding-bottom: 8px
      color: #aaa
        
//Hover for social start
.fa-google-plus:hover
        color: #DC473A
.fa-twitter:hover
        color: #1DA1F2
.fa-facebook:hover
        color: #4867AA
.fa-pinterest:hover
        color: #BD081B
//Hover for social end

//COMMENTS END

.columns
  display: flex
  justify-content: space-between
  margin: 0 auto
  width: 71.18055555%

.first-column
  display: flex
  flex-direction: column
  width: 27.8%

.small-recipe
  margin-top: 75px
  background-color: white
  &__header
    font-family: 'Playfair Display', serif
    font-weight: 600
    font-size: 22px
    color: #055555
    text-align: center
  &__info
    display: flex
    padding-left: 8%
  &__text
    margin-left: 6%
  &__icons
    font-size: 12px
    color: #555
  &__author
    align-self: center
    border-radius: 50%
  &__img
    width: 100%
    display: block
  i
    padding-top: 5px
    padding-right: 7px
  hr
    width: 85%
    border-color: #ddd
    margin-top: -15px

.target
  margin-top: 40px
  background-color: white
  &__header
    font-size: 20px
    font-weight: 400
    padding-left: 8%
    &-icons
      display: inline-flex
      float: right 
      padding-right: 8%
      font-size: 16px
      color: #555
      i
        padding-right: 10px
  &__sub-header
    padding-left: 10%
    margin: 18px 0px 30px 0px
    font-family: 'Playfair Display', serif
    font-weight: 600
    font-size: 20px
    color: #055555
  &__info
    color: #9f9f9f
    margin: 0px
    padding-left: 9%
    width: 66%
    position: relative
    &-class
      font-size: 18px
    &-text
      font-size: 14px
      font-style: italic
    &-inside
      position: absolute
      bottom: 30%
      right: 105%
      font-size: 21px
  &__top
    padding-left: 10%
    padding-top: -10px
    display: flex
  &__center
    padding-left: 10%
    padding-top: 45px
    display: flex
  &-info
    margin: 0
    padding-left: 7%
  &__bottom
    padding-left: 10%
    padding-top: 45px
    padding-bottom: 55px
    display: flex
  hr
    width: 85%
    border-color: #ddd
    margin-top: -15px
    
//Hover for Target (print, mail) start
.fa-envelope-o:hover
        color: #4867AA
.fa-print:hover
        color: #BD081B
//Hover for Target (print, mail) end


.second-column
        display: flex
        flex-direction: column
        width: 27.8%

.level-recipes 
  margin-top: 75px 
  background-color: white 
  &__header
    padding-left: 8%
    font-weight: 400
    font-size: 20px 
    line-height: 30px 
    &-text 
      line-height: 20px 
      font-size: 12px
    &-icons 
      display: inline-flex
      float: right 
      padding-right: 8%
      font-size: 16px
      color: #555
  &__levels 
    display: flex 
    justify-content: center

    
  &__text 
    padding-left: 20px
    width: 70%
  &__recipe
    display: flex 
    padding-top: 35px
    &--first
      display: flex 
      padding-top: 20px
    &-subtext
      font-size: 16px 
      font-weight: 600
  &__view
    float: right 
    font-size: 12px 
    padding: 3px
    padding-top: 5px
    text-transform: uppercase
    color: #010101
    border: 1px solid #999
    margin-right: 10%
    margin-top: 30px
    margin-bottom: 15px 
  
  img 
    padding-left: 20px 
    align-self: flex-start
  
  hr
    width: 85%
    border-color: #ddd
    margin-top: -15px
    
  i
    padding-right: 10px

  // Customization for buttons start 
.unpicked
  font-size: 12px
  line-height: 25px
  text-transform: uppercase 
  background-color: white
  border: none
  cursor: pointer
  padding-left: 8%
  padding-right: 8%
  color: #999
.picked
  @extend .unpicked
  color: #000
  font-weight: 700
  // Customization for buttons end

.tags 
  background-color: white  
  margin-top: 45px
  &__header 
    padding-left: 8%
    line-height: 10px
  &__text
    padding-left: 8%
    text-transform: uppercase 
    line-height: 25px
    font-size: 12px 
  hr
    width: 85%
    border-color: #ddd
    margin-top: -15px














.third-column
        display: flex
        flex-direction: column
        width: 27.8%

.card-block__face
        border-radius: 100px







.cart-target__text


.make-column
        flex-direction: column

.eml-buttons
        display: flex
        justify-content: space-around



$main-bg: rgb(40,40,59)
$calendar-border: rgb(220,220,255)
$calendar-bg: #fff
$calendar-standout: rgb(40,40,59)
$calendar-color: #444
$calendar-fade-color: #c0c0c0




*, *:before, *:after
        box-sizing: border-box


.group
    &:after
        content: ""
        display: table
        clear: both



img
    max-width: 100%
    height: auto
    vertical-align: baseline


a
    text-decoration: none







.calendar-wrapper
    width: 300px
    margin: 3em auto
    padding: 2em
    border: 1px solid $calendar-border
    border-radius: 5px
    background: $calendar-bg


table
    clear: both
    width: 100%
    border: 1px solid $calendar-border
    border-radius: 3px
    border-collapse: collapse
    color: $calendar-color

td
    height: 48px
    text-align: center
    vertical-align: middle
    border-right: 1px solid $calendar-border
    border-top: 1px solid $calendar-border
    width: 100% / 7

td.not-current
    color: $calendar-fade-color

td.normal
td.today
    font-weight: 700
    color: $calendar-standout
    font-size: 1.5em

thead td
    border: none
    color: $calendar-standout
    text-transform: uppercase
    font-size: 1.5em

#btnPrev
        float: left
        margin-bottom: 20px




#btnNext
    float: right
    margin-bottom: 20px




#btnPrev, #btnNext
    background: transparent
    border: none
    outline: none
    font-size: 1em
    color: $calendar-fade-color
    cursor: pointer
    font-family: "Roboto Condensed", sans-serif
    text-transform: uppercase
    transition: all 0.3s ease


.column
        display: flex
        flex-direction: column

.bgred
        background-color: red

.bgwhite
        background-color: #fff

.coffee
        max-width: 25%

        &__pic
                position: relative



.coffee__text
        top: 150px
        position: absolute


.time__lines
        display: flex
        justify-content: space-between
        flex-direction: column
        width: 210px
        height: 210px
        background-color: grey
        transform: rotate(270deg)



.post
        width: 100%
        background: white
        padding-bottom: 20px
        margin-bottom: 50px



.post__pic
        background-color: grey
        width: 75%
        margin-left: 15%
        padding: 10px

.post__input
        width: 66.6%

.img-fluider
        align-self: flex-start

.width-max
        border-top-color: black
        width: 100%
        padding-left: 5%

.floatright
        float: right
        margin-top: -50px

.margin-bottom
        margin-bottom: 70px

.changer-width
        width: 50%
        background-color: grey
        height: 20px

.changer
        height: 100px
        width: 100%
        background: white

.footer
        background-color: grey

        &__img
                margin: 50px
