body 
    background-color: #eaeaea

.container
   width: 77.7%

.header__logo
    margin-top: 250px
    margin-bottom: 115px
    justify-content: center

    &-img
        max-width: 383px
        min-width: 300px
        padding: 20px 0


.nav
    background-color: white
    align-items: center
    margin-bottom: 160px

   &__logo
    text-align: center
    
    &__input
        max-width: 160px
        text-align: center

ul   
    text-transform: uppercase
    list-style-type: none
    display: flex
    justify-content: space-between
    align-items: center
    padding: 30px 0

.main-recipe
    position: relative
    align-items: center
    padding-left: 7px

.main-recipe__left
    z-index: 10
    padding-left: 80px

    p
        width: 350px 
    &-img 
        max-width: 100%
        height: auto


.main-recipe__img
    position: absolute
    z-index: 1
    background-repeat: no-repeat
    height: 445px
    background-image: url('../img/main-recipe.png')
    margin-bottom: 85px

.sub-recipes
    background-color: white 
    margin-top: 160px
    padding-bottom: 60px

    
    &__item
        padding-left: 30px 
        display: flex
        flex-direction: column
        max-width: 375px
        margin: 0 auto

        &-img 
             margin-top: 40px

        &-text
            max-width: 280px
            background-color: red 
            

        &-info 


    .scroll-recipe
         height: 435px
         background-color: white 
        
        &__img
            height: auto
            max-width: 100%