body 
    background-color: #eaeaea
    font-family: 'Josefin Sans', sans-serif
    font-weight: 300
    font-size: 16px 

@-ms-viewport 
    width: device-width
    

html 
    box-sizing: border-box
  
*,
*::before,
*::after 
    box-sizing: inherit

.wrapper
    padding-right: 15px
    padding-left: 15px
    display: flex
    justify-content: center
     
// DELETE THIS 
.container 
    margin-right: auto
    margin-left: auto
    padding-right: 15px
    padding-left: 15px
    width: 100%
    @media (min-width: 576px) 
        max-width: 540px
    @media (min-width: 768px) 
        max-width: 720px
    @media (min-width: 992px) 
        max-width: 960px
    @media (min-width: 1200px) 
        max-width: 1120px
  
  
// HEADER START 
.header__logo
    margin-top: 230px
    margin-bottom: 95px
    margin-left: auto
    margin-right: auto
    max-width: 25.5%
    min-width: 250px 

.nav
    background-color: white
    display: flex 
    align-items: center
    justify-content: space-between
    margin-bottom: 160px
    padding: 35px 0 
    width: 77.777777777%
    &__logo
        margin-left: 5.3%
        @media (max-width: 1000px) 
            display: none
    &__input 
        text-align: center 
        margin-left: 4% 
        margin-right: 5%
        max-width: 14%
        background-image: url("../img/find-icon.png")
        background-repeat: no-repeat 
        background-size: 15px
        border: 1px solid #798186
        @media (max-width: 1000px)
            max-width: 18%
        @media (max-width: 1300px)
             background: none
            
        
    &__menu
        text-transform: uppercase
        list-style-type: none
        display: flex 
        justify-content: center 
        min-width: 65%
        margin-left: -5% 
        @media (max-width: 1000px) 
            min-width: 80%
            
        &-item 
            margin-left: 6%
            @media (max-width: 1625px)
                margin-left: 4%
            &--hide 
                @media (max-width: 1280px) 
                    display: none
// HEADER END


.main-recipe
    width: 77.7%
    background-image: url('../img/main-recipe.png')
    background-position: center
    background-size: cover

.main-recipe__left
    display: flex
    flex-direction: column
    padding-left: 7%
    padding-top: 3.5%
    padding-bottom: 4%
    p
        margin-top: -10px 
        max-width: 30%
        min-width: 220px 
    a
        text-align: center 
        color: black
        text-transform: uppercase
        font-size: 12px
        width: 100px 
        border: 1px solid #798186  
        padding: 4px
        margin-top: 10px
    h2 
        color: #911026
        font-family: 'Playfair Display', serif
        font-weight: 400 
        font-size: 24px 
        
    &-logo
        max-width: 250px 
        
    


.sub-recipes
    background-color: white 
    margin-top: 160px
    padding-bottom: 30px
    width: 77.7777777%
    display: flex
    flex-wrap: wrap
    &__item
        padding-left: 30px 
        display: flex
        flex-direction: column
        margin: 0 auto
        &-img 
             margin-top: 40px

        &-text
            max-width: 280px
            
            
        &-info 
            font-size: 12px
            color: grey
        i
            padding-left: 2px 


.scroll-recipe
    margin-top: 80px
    background-color: white 
    
    &__header 
    

    &__scroll
        padding-right: 20px 
        max-height: 69%
        overflow-y: scroll


.comments
    justify-content: space-between

    &__sorry-404
        margin-top: 115px
        position: relative
        z-index: 23
        background-color: white
        height: 515px
        width:  540px
        background-image: url('../img/sorry-404.png')
        background-repeat: no-repeat 
        background-position: center

    &__author
        margin-top: 115px
        background-color: white
        width: 515px
        height: 515px
        display: flex

        &-photo
            border-radius: 100px;
        &-name 

.card-block__face
    border-radius: 100px


.cart-target__text
    

.make-column 
    flex-direction: column

.eml-buttons
    display: flex
    justify-content: space-around



$main-bg: rgb(40,40,59)
$calendar-border: rgb(220,220,255)
$calendar-bg: #fff
$calendar-standout: rgb(40,40,59)
$calendar-color: #444
$calendar-fade-color: #c0c0c0




*, *:before, *:after 
    box-sizing: border-box


.group 
  &:after 
    content: ""
    display: table
    clear: both
  


img 
  max-width: 100%
  height: auto
  vertical-align: baseline


a 
  text-decoration: none



    
  


.calendar-wrapper 
  width: 300px
  margin: 3em auto
  padding: 2em
  border: 1px solid $calendar-border
  border-radius: 5px
  background: $calendar-bg
  

table 
  clear: both
  width: 100%
  border: 1px solid $calendar-border
  border-radius: 3px
  border-collapse: collapse
  color: $calendar-color

td 
  height: 48px
  text-align: center
  vertical-align: middle
  border-right: 1px solid $calendar-border
  border-top: 1px solid $calendar-border
  width: 100% / 7

td.not-current 
  color: $calendar-fade-color

td.normal 
td.today 
  font-weight: 700
  color: $calendar-standout
  font-size: 1.5em

thead td 
  border: none
  color: $calendar-standout
  text-transform: uppercase
  font-size: 1.5em

#btnPrev 
    float: left
    margin-bottom: 20px


  

#btnNext 
  float: right
  margin-bottom: 20px


  

#btnPrev, #btnNext 
  background: transparent
  border: none
  outline: none
  font-size: 1em
  color: $calendar-fade-color
  cursor: pointer
  font-family: "Roboto Condensed", sans-serif
  text-transform: uppercase
  transition: all 0.3s ease

  
.column
    display: flex
    flex-direction: column

.bgred
    background-color: red 

.bgwhite
    background-color: #fff

.coffee
    max-width: 25%

    &__pic
        position: relative



.coffee__text
    top: 150px
    position: absolute 


.time__lines
    display: flex
    justify-content: space-between
    flex-direction: column 
    width: 210px
    height: 210px
    background-color: grey
    transform: rotate(270deg);



.post
    width: 100%
    background: white 
    padding-bottom: 20px 
    margin-bottom: 50px 
    


.post__pic
    background-color: grey 
    width: 75%
    margin-left: 15%
    padding: 10px
    
.post__input
    width: 66.6%

.img-fluider
    align-self: flex-start 

.width-max
    border-top-color: black  
    width: 100% 
    padding-left: 5%

.floatright
    float: right 
    margin-top: -50px 

.margin-bottom
    margin-bottom: 70px

.changer-width
    width: 50%
    background-color: grey 
    height: 20px

.changer
    height: 100px 
    width: 100%
    background: white 
    
.footer
    background-color: grey 

    &__img
        margin: 50px
