body {
  background-color: #eaeaea;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 425px) {
  body {
    background-color: #fbfcfd;
  }
}

@-ms-viewport {
  width: device-width;
}

.fa-angle-left:hover {
  color: #629494;
}

.fa-angle-right:hover {
  color: #629494;
}

.fa-share-alt:hover {
  color: #629494;
}

.fa-thumbs-o-up:hover {
  color: #4867aa;
}

.fa-google-plus:hover {
  color: #dc473a;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-facebook:hover {
  color: #4867aa;
}

.fa-pinterest:hover {
  color: #bd081b;
}

.fa-envelope-o:hover {
  color: #4867AA;
}

.fa-print:hover {
  color: #BD081B;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 2px solid #ddd;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.feedbacks__404 hr, .small-recipe hr, .target hr, .level-recipes hr, .tags hr, .calendar hr, .time__header-hr {
  width: 85%;
  border-color: #ddd;
}

.header__logo {
  display: block;
  margin-top: 230px;
  margin-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
  max-width: 25.5%;
}

@media (max-width: 425px) {
  .header__logo {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 0;
  width: 77.777777777%;
  max-width: 1120px;
  -webkit-box-shadow: 0 0 13px rgba(11, 12, 12, 0.15);
          box-shadow: 0 0 13px rgba(11, 12, 12, 0.15);
  background-color: #f8f8f8;
}

@media (max-width: 600px) and (min-width: 425px) {
  .nav {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .nav {
    background-color: #fbfcfd;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 35px;
  }
}

.nav__logo {
  margin-left: 5.3%;
}

.nav__logo--open {
  display: none;
}

@media (max-width: 1000px) and (min-width: 426px) {
  .nav__logo {
    display: none;
  }
}

.nav__input {
  font-size: 13px;
  text-align: center;
  margin-left: 4%;
  margin-right: 5%;
  min-width: 14%;
  background-image: url("../img/find-icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: 13px 17px;
          background-size: 13px 17px;
  background-position: 3px 0;
  border: 1px solid #798186;
  color: #798186;
}

@media (max-width: 600px) and (min-width: 425px) {
  .nav__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    line-height: 20px;
    -webkit-background-size: 15px 20px;
            background-size: 15px 20px;
    background-position: 5px 1px;
  }
}

@media (max-width: 1000px) and (min-width: 601px) {
  .nav__input {
    max-width: 18%;
  }
}

@media (max-width: 1300px) and (min-width: 601px) {
  .nav__input {
    background: none;
  }
}

@media (max-width: 425px) {
  .nav__input {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    max-width: none;
    width: 35%;
    line-height: 19px;
    -webkit-background-size: 15px 15px;
            background-size: 15px 15px;
    background-position: 0px 3px;
    border: none;
    outline-color: #798186;
    margin-left: auto;
    margin-right: 0;
    padding-left: 5%;
  }
}

@media (max-width: 355px) {
  .nav__input {
    width: 45%;
  }
}

.nav__input--open {
  display: none;
}

.nav__dropdown {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  list-style-type: none;
  width: 65%;
  margin-left: -5%;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: 1000px) {
  .nav__menu {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .nav__menu {
    width: 100%;
    padding-left: 0;
    margin-left: auto;
  }
}

@media (max-width: 425px) {
  .nav__menu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    margin: 0;
    padding-right: 4%;
    width: 10%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav__menu--open {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.nav__menu--open li {
  display: block;
  padding-bottom: 15px;
  background-color: #fbfcfd;
}

.nav__menu--open li:nth-child(5) {
  padding-bottom: 0;
}

.nav__menu-item {
  margin-left: 6%;
  text-align: center;
}

.nav__menu-item:hover .nav__dropdown {
  display: block;
  background-color: #f9f9f9;
  position: absolute;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.nav__menu-item:hover .nav__dropdown a {
  margin-top: 22px;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
  color: #555;
}

.nav__menu-item:hover .nav__dropdown a:hover {
  color: #000;
  text-decoration: underline;
}

@media (max-width: 1280px) and (min-width: 425px) {
  .nav__menu-item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 750px) and (min-width: 425px) {
  .nav__menu-item:nth-child(4) {
    display: none;
  }
}

@media (max-width: 1625px) {
  .nav__menu-item {
    margin-left: 4%;
  }
}

@media (max-width: 425px) {
  .nav__menu-item {
    display: none;
  }
}

.nav__menu-icon {
  font-size: 20px;
  display: none;
}

.nav__menu-icon--open {
  position: absolute;
  right: 15px;
  top: 0;
}

@media (max-width: 425px) {
  .nav__menu-icon {
    display: block;
    width: 15px;
  }
}

.main-recipe {
  width: 77.777777777%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
  position: relative;
  height: 453px;
  display: none;
}

@media (max-width: 425px) {
  .main-recipe {
    display: none;
  }
}

.main-recipe__mobile {
  border: none;
}

@media (max-width: 425px) {
  .main-recipe__mobile {
    width: 100%;
    height: auto;
  }
}

.main-recipe__mobile-get {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  margin: 13px auto 25px auto;
  padding-top: 7px;
  outline-color: #798186;
}

@media (min-width: 426px) {
  .main-recipe__mobile-get {
    display: none;
  }
}

.main-recipe__img {
  width: 100%;
  min-height: 453px;
}

.main-recipe__switcher {
  position: absolute;
  right: 17px;
  bottom: 15px;
  cursor: pointer;
}

.main-recipe__switcher-circle {
  color: red;
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
}

.main-recipe__switcher-circle:hover {
  background-color: #555;
}

.main-recipe__switcher-circle--checked {
  background-color: #555;
}

.main-recipe--show {
  display: block;
}

@media (max-width: 425px) {
  .main-recipe--show {
    display: none;
  }
}

.main-recipe__left {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7%;
  padding-top: 50px;
  padding-bottom: 4%;
}

.main-recipe__left-logo {
  max-width: 250px;
  width: 100%;
}

.main-recipe__left p {
  margin-top: -10px;
  max-width: 30%;
  min-width: 220px;
}

.main-recipe__left a {
  padding-top: 8px;
  padding-bottom: 5px;
  margin-top: 10px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  width: 100px;
  border: 1px solid #798186;
}

.main-recipe__left h2 {
  color: #911026;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 36px;
}

@media (min-width: 426px) {
  .mobile-top {
    display: none;
  }
}

@media (max-width: 425px) {
  .mobile-top {
    display: block;
    width: 100%;
    height: auto;
  }
}

.sub-recipes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 77.7777777%;
  max-width: 1120px;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

@media (max-width: 425px) {
  .sub-recipes {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    margin: 0;
  }
}

.sub-recipes__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 28%;
  height: auto;
  padding: 0 2%;
}

@media (max-width: 937px) {
  .sub-recipes__item {
    min-width: 65%;
  }
}

@media (max-width: 425px) {
  .sub-recipes__item {
    width: 100%;
    padding: 0;
  }
}

.sub-recipes__item--tablets {
  display: none;
}

@media (max-width: 1418px) and (min-width: 937px) {
  .sub-recipes__item--tablets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.sub-recipes__item-img {
  padding-top: 40px;
}

@media (max-width: 425px) {
  .sub-recipes__item-img {
    width: 100%;
    padding: 0;
  }
}

.sub-recipes__item-name {
  font-size: 18px;
  max-width: 300px;
}

@media (max-width: 426px) {
  .sub-recipes__item-name {
    padding-left: 5%;
    max-width: 100%;
  }
}

.sub-recipes__item-info {
  font-size: 12px;
  color: #555;
}

@media (max-width: 426px) {
  .sub-recipes__item-info {
    padding-left: 5%;
    padding-bottom: 30px;
  }
}

.sub-recipes__item i {
  padding-top: 5px;
  padding-right: 7px;
}

.scroll-recipe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 77.7777777%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
  .scroll-recipe {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 425px) {
  .scroll-recipe {
    display: none;
  }
}

.scroll-recipe img {
  max-width: 50%;
  min-width: 420px;
}

@media (max-width: 1200px) {
  .scroll-recipe img {
    min-width: 339px;
    min-height: 275px;
    padding-top: 20px;
  }
}

@media (max-width: 1200px) and (max-width: 600px) {
  .scroll-recipe img {
    padding-top: 0;
    min-width: 100%;
  }
}

.scroll-recipe__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 55%;
  height: 430px;
  margin: 0 45px 10px 30px;
}

@media (max-width: 1200px) {
  .scroll-recipe__header {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .scroll-recipe__header {
    min-width: 90%;
  }
}

.scroll-recipe__header-name {
  font-family: 'Playfair Display', serif;
  color: #055555;
}

@media (max-width: 1200px) {
  .scroll-recipe__header-name {
    text-align: center;
  }
}

.scroll-recipe__header-info {
  color: #555;
  margin-top: -10px;
  margin-bottom: 25px;
}

.scroll-recipe__header-save {
  background-color: white;
  float: right;
  padding: 3px;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #555;
  font-size: 12px;
  cursor: pointer;
}

.scroll-recipe__scroll {
  overflow-y: scroll;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .scroll-recipe__scroll {
    margin-bottom: 0;
  }
}

.scroll-recipe__scroll::-webkit-scrollbar-thumb {
  background: #555;
}

.scroll-recipe__scroll::-webkit-scrollbar {
  width: 2px;
  height: 7px;
  background-color: #ddd;
}

.scroll-recipe__scroll p {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.feedbacks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 77.7777777%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .feedbacks {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feedbacks__404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46%;
  min-width: 250px;
  margin-top: 115px;
  background-color: white;
  background-image: url("../img/sorry-404.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1024px) {
  .feedbacks__404 {
    background-position: center;
    -webkit-background-size: 100% 60%;
            background-size: 100% 60%;
    background-repeat: no-repeat;
    background-color: #FBFCFD;
  }
}

@media (max-width: 800px) {
  .feedbacks__404 {
    display: none;
  }
}

.feedbacks__404-top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding-left: 9%;
  padding-top: 7px;
}

.feedbacks__404-text {
  text-align: center;
  margin-top: 150px;
  font-size: 32px;
  font-weight: bold;
}

.feedbacks__404-subtext {
  margin-top: -22px;
  text-align: center;
  text-transform: uppercase;
  color: darkgray;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.feedbacks__404-back {
  padding: 8px 35px 5px 35px;
  margin-top: 115px;
  margin-bottom: 50px;
  border: 1px solid #c2c2c2;
  text-transform: uppercase;
  color: #3e3e3e;
  font-size: 12px;
}

.feedbacks__404 hr {
  margin-top: -10px;
}

.feedbacks__author {
  width: 46%;
  margin-top: 115px;
  background-color: white;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 800px) {
  .feedbacks__author {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .feedbacks__author {
    display: none;
  }
}

.feedbacks__author-top {
  padding-left: 9%;
  padding-top: 7px;
}

.feedbacks__author-border {
  border-color: #ddd;
  margin-top: -10px;
  width: 85%;
}

.feedbacks__author-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
}

.feedbacks__author-photo {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  max-width: 30%;
  margin: 2%;
  margin-left: 4%;
}

@media (max-width: 1200px) and (min-width: 800px) {
  .feedbacks__author-photo {
    padding-top: 20px;
  }
}

.feedbacks__author-info {
  padding-left: 2%;
  width: 100%;
}

.feedbacks__author-text {
  font-style: italic;
}

@media (max-width: 1280px) {
  .feedbacks__author-text {
    margin-left: -40%;
  }
}

@media (max-width: 800px) and (min-width: 650px) {
  .feedbacks__author-text {
    padding-top: 30px;
  }
}

.feedbacks__author-header {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
}

.feedbacks__author-name {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 25px;
}

.feedbacks__author-location {
  display: inline-block;
  color: black;
  padding: 8px 0px;
}

.feedbacks__author-signature {
  float: right;
  max-width: 50%;
}

.feedbacks__author i {
  padding-right: 7px;
  padding-bottom: 8px;
  color: #aaa;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 71.18055555%;
  max-width: 1025px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media (max-width: 425px) {
  .columns {
    width: 100%;
  }
}

.first-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

@media (max-width: 1240px) {
  .first-column {
    display: none;
  }
}

.small-recipe {
  margin-top: 100px;
  background-color: white;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

.small-recipe__header {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 22px;
  color: #055555;
}

.small-recipe__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8%;
}

.small-recipe__text {
  margin-left: 6%;
}

.small-recipe__icons {
  font-size: 12px;
  color: #555;
}

.small-recipe__author {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.small-recipe__recipe {
  width: 100%;
  display: block;
}

.small-recipe__images {
  position: relative;
}

.small-recipe__circle {
  color: red;
  display: inline-block;
  padding: 5px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #999;
  background-color: #fff;
}

.small-recipe__circle--checked {
  background-color: #888;
}

.small-recipe__circle:hover {
  background-color: #888;
}

.small-recipe__switcher {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5px;
  cursor: pointer;
}

.small-recipe hr {
  margin-top: -15px;
}

.small-recipe i {
  padding-top: 5px;
  padding-right: 7px;
}

.target {
  margin-top: 40px;
  background-color: white;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

.target__header {
  padding-left: 8%;
  font-size: 20px;
  font-weight: 400;
}

.target__header-icons {
  white-space: nowrap;
  float: right;
  margin-right: 8%;
  font-size: 16px;
}

.target__header-icons i {
  padding-right: 10px;
  color: #555;
}

.target__sub-header {
  padding-left: 10%;
  margin: 18px 0 30px 0;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 20px;
  color: #055555;
}

.target__info {
  position: relative;
  margin: 0;
  padding-left: 9%;
  width: 66%;
  color: #9f9f9f;
}

.target__info-class {
  font-size: 18px;
}

.target__info-text {
  font-size: 14px;
  font-style: italic;
}

.target__info-inside {
  position: absolute;
  bottom: 30%;
  right: 105%;
  font-size: 21px;
}

.target__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  padding-top: -10px;
}

.target__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  padding-top: 45px;
}

.target-info {
  margin: 0;
  padding-left: 7%;
}

.target__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  padding-bottom: 55px;
  padding-left: 10%;
}

.target hr {
  margin-top: -15px;
}

.second-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

@media (max-width: 1240px) {
  .second-column {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .second-column {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .second-column {
    width: 100%;
  }
}

.level-recipes {
  margin-top: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1240px) {
  .level-recipes {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 425px) {
  .level-recipes {
    margin-top: 2px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.level-recipes__header {
  padding-left: 8%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 425px) {
  .level-recipes__header {
    display: none;
  }
}

.level-recipes__header-text {
  line-height: 20px;
  font-size: 12px;
}

.level-recipes__header-icons {
  white-space: nowrap;
  float: right;
  margin-right: 8%;
  font-size: 16px;
  color: #555;
}

@media (max-width: 1024px) {
  .level-recipes__header-icons .fa-print {
    display: none;
  }
}

.level-recipes__button {
  width: 30%;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  border: none;
  background: none;
  outline: none;
  color: #999;
  font-weight: 300;
  cursor: pointer;
}

.level-recipes__button--picked {
  width: 30%;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  border: none;
  background: none;
  color: #000;
  font-weight: 700;
  cursor: default;
}

.level-recipes__content {
  display: none;
}

.level-recipes__levels {
  text-align: center;
}

@media (max-width: 425px) {
  .level-recipes__levels {
    padding-top: 20px;
  }
}

.level-recipes__recipe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}

@media (max-width: 1024px) {
  .level-recipes__recipe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .level-recipes__recipe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.level-recipes__recipe--first {
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .level-recipes__recipe--first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .level-recipes__recipe--first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.level-recipes__text {
  display: inline-block;
  padding-left: 20px;
  width: 70%;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .level-recipes__text {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .level-recipes__text {
    width: 70%;
    text-align: left;
    padding-left: 0;
  }
}

.level-recipes__text-header {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
}

.level-recipes__text-by {
  font-weight: 300;
}

.level-recipes__text-subtext {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .level-recipes__text-subtext {
    text-align: left;
  }
}

.level-recipes__img {
  padding-left: 20px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

@media (max-width: 1024px) {
  .level-recipes__img {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
  }
}

.level-recipes__view {
  float: right;
  margin-right: 8%;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 8px 12px 5px 12px;
  border: 1px solid #999;
  text-transform: uppercase;
  font-size: 12px;
  color: #010101;
}

.level-recipes hr {
  margin-top: -15px;
}

@media (max-width: 425px) {
  .level-recipes hr {
    display: none;
  }
}

.level-recipes i {
  padding-right: 10px;
}

.tags {
  margin-top: 45px;
  background-color: white;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1240px) {
  .tags {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 600px) {
  .tags {
    display: none;
  }
}

.tags__header {
  padding-left: 8%;
  line-height: 10px;
  font-size: 20px;
  font-weight: 400;
}

.tags__text {
  margin: 0;
  padding-left: 8%;
  padding-bottom: 15px;
  max-width: 90%;
  line-height: 25px;
  word-spacing: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.tags hr {
  margin-top: -15px;
}

.calendar {
  margin-top: 45px;
  margin-bottom: 95px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1240px) {
  .calendar {
    display: none;
  }
}

.calendar__header {
  padding-left: 8%;
  line-height: 10px;
  font-size: 20px;
  font-weight: 400;
}

.calendar__wrapper {
  margin: 0 auto;
  width: 80%;
}

.calendar__wrapper table {
  width: 100%;
  margin-top: -8px;
}

.calendar__wrapper td {
  height: 36px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.calendar__wrapper td.not-current {
  color: #c2c2c2;
}

.calendar__wrapper td.today {
  color: black;
  font-weight: 700;
  font-size: 17px;
}

.calendar hr {
  margin-top: -15px;
}

#btnPrev, #btnNext {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #555;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

#btnPrev {
  margin-left: 11%;
}

#btnNext {
  margin-left: 83%;
}

.third-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

@media (max-width: 1240px) {
  .third-column {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .third-column {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .third-column {
    width: 90%;
    margin: 0 auto;
    margin-top: -30px;
  }
}

@media (max-width: 425px) {
  .third-column {
    width: 100%;
    margin: 0;
  }
}

.popular {
  margin-top: 100px;
  padding-bottom: 130px;
  background-image: url("../img/coffee.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 425px) {
  .popular {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 2px;
    padding-top: 30px;
    margin-bottom: 2px;
  }
}

.popular__header {
  margin-top: 17px;
  margin-bottom: 32px;
  font-family: 'Playfair Display', serif;
  color: #921026;
  font-size: 32px;
  font-weight: 900;
}

@media (max-width: 1400px) {
  .popular__header {
    text-align: center;
  }
}

.popular__sub-header {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

@media (max-width: 425px) {
  .popular__sub-header {
    padding-left: 5%;
  }
}

.popular__text {
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 425px) {
  .popular__text {
    padding-left: 5%;
  }
}

.popular__info {
  white-space: nowrap;
}

@media (max-width: 425px) {
  .popular__info {
    padding-left: 5%;
  }
}

.popular i {
  padding-left: 2%;
  font-size: 13px;
  color: #555;
}

@media (max-width: 1400px) and (min-width: 425px) {
  .popular i {
    display: none;
  }
}

.popular a {
  display: inline-block;
  padding: 8px 12px 5px 12px;
  border: 1px solid #999;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 1400px) and (min-width: 425px) {
  .popular a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95px;
  }
}

.time {
  margin-top: 45px;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
  /* I just drew "lines" element like normal, and turned it on 270*,
    when you add your properties of width/height, paddings/margins to &-item
    keep in mind that they rotated */
}

@media (max-width: 600px) {
  .time {
    display: none;
  }
}

.time__header {
  padding-left: 8%;
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
}

.time__header-icons {
  white-space: nowrap;
  margin-right: 8%;
  float: right;
  font-size: 16px;
}

.time__header-icons i {
  padding-right: 10px;
  color: #555;
}

@media (max-width: 768px) {
  .time__header-icons i {
    display: none;
  }
}

@media (max-width: 1024px) {
  .time__header-icons .fa-print {
    display: none;
  }
}

.time__sub-header {
  padding-left: 11%;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 20px;
  color: #055555;
}

.time__lines {
  max-width: 50%;
  margin: 0 auto;
  white-space: nowrap;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-bottom: -20px;
  margin-top: 30px;
}

@media (max-width: 900px) {
  .time__lines {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .time__lines {
    margin-top: 90px;
  }
}

.time__lines-hr {
  width: 66.666%;
}

.time__lines-item {
  padding-top: 15%;
  padding-bottom: 15%;
}

@media (max-width: 1400px) {
  .time__lines-item {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.time__text {
  margin: 13px auto;
  width: 66.666%;
  padding-bottom: 40px;
}

.forms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 51.7%;
  max-width: 1025px;
}

@media (max-width: 1240px) {
  .forms {
    margin-top: 100px;
  }
}

@media (max-width: 1024px) {
  .forms {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .forms {
    display: none;
  }
}

.forms-container {
  width: 85%;
  margin: 0 auto;
}

.login {
  width: 43%;
  background-color: #fff;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  .login {
    width: 80%;
    margin: 0 auto;
  }
}

.login__header, .sign__header {
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 1%;
  font-size: 20px;
  font-weight: 400;
}

.login__sub-header, .sign__sub-header {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 1%;
}

.login__login-input {
  padding-left: 15px;
  margin-bottom: 23px;
}

@media (max-width: 768-px) {
  .login__login-input {
    margin-bottom: 5px;
  }
}

.login__password-input {
  padding-left: 15px;
  margin-bottom: 15px;
}

.login__remember {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.login__remember-checkbox {
  outline: none;
}

@media (max-width: 1283px) {
  .login__remember {
    display: block;
    text-align: center;
  }
}

.login__forgot {
  float: right;
  margin-top: 4px;
  padding-left: 20px;
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1283px) {
  .login__forgot {
    float: none;
    text-align: center;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: -10px;
  }
}

.login__button, .sign__button {
  display: block;
  width: 100px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background: none;
  cursor: pointer;
  border: 1px solid #c2c2c2;
  outline-color: #979797;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  color: #3f3f3f;
}

.login__social, .sign__social {
  margin-top: 4px;
  text-align: center;
  color: #555;
}

.login__social-google {
  margin-left: 8px;
}

.login__sign-up {
  padding-bottom: 25px;
  text-align: center;
  color: #757575;
}

.sign {
  background-color: #fff;
  width: 43%;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  .sign {
    width: 80%;
    margin: 50px auto;
  }
}

.sign__email-input {
  padding-left: 15px;
  margin-bottom: 15px;
}

.sign__name-input {
  padding-left: 15px;
  margin-bottom: 15px;
}

.sign__password-input {
  padding-left: 15px;
  margin-bottom: 15px;
}

.sign__button {
  margin-top: 15px;
}

.sign__social-google {
  margin-left: 8px;
}

.sign__terms {
  padding-bottom: 25px;
  text-align: center;
  color: #757575;
  font-size: 14px;
  width: 85%;
  margin: 0 auto;
}

.sign__terms-link {
  color: #002dd6;
  text-decoration: underline;
}

.login__login-input, .login__password-input, .sign__email-input, .sign__name-input, .sign__password-input {
  height: 40px;
  width: 100%;
  outline-color: #979797;
  color: #555;
  border: 1px solid #c2c2c2;
}

.login__login-input::-webkit-input-placeholder, .login__password-input::-webkit-input-placeholder, .sign__email-input::-webkit-input-placeholder, .sign__name-input::-webkit-input-placeholder, .sign__password-input::-webkit-input-placeholder {
  color: #ccc;
}

.comments {
  width: 58.3%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1025px;
}

@media (max-width: 900px) {
  .comments {
    width: 77.7%;
  }
}

@media (max-width: 480px) {
  .comments {
    display: none;
  }
}

.post {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  background: #fff;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

.post__text {
  padding-top: 25px;
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 400;
}

.post__text-social {
  float: right;
  padding-top: 6px;
  font-size: 16px;
}

@media (max-width: 680px) {
  .post__text-social {
    display: inline-block;
    float: none;
    margin-top: 10px;
  }
}

.post__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
}

.post__form-face {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-left: 2.6%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (max-width: 600px) {
  .post__form-face {
    display: none;
  }
}

.post__form-input {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 66.6%;
  height: 40px;
  padding-left: 1%;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #c2c2c2;
  outline-color: #979797;
  color: #555;
}

.post__form-button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 80px;
  height: 40px;
  margin-left: 1%;
  margin-right: 5px;
  border: 1px solid #c2c2c2;
  background: #383737;
  outline-color: #979797;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

.board {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  background: white;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

.board__title {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
}

.main-recipe__mobile-get, .post__text-social, .comment__info-reply, .sub-comment__info-reply, .next-comment__info-reply, .comment__info-date, .sub-comment__info-date, .next-comment__info-date, .comment__likes-share, .sub-comment__likes-share, .next-comment__likes-share, .comment__likes-like, .sub-comment__likes-like, .next-comment__likes-like, .sub-comment__more, .switch__numbers-item {
  border: none;
  background: none;
  cursor: pointer;
}

.comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 18px;
}

.comment__face, .sub-comment__face, .next-comment__face {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-left: 1.5%;
}

.comment__info, .sub-comment__info, .next-comment__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2.5%;
}

.comment__info-top, .sub-comment__info-top, .next-comment__info-top {
  font-weight: 400;
}

.comment__info-name, .sub-comment__info-name, .next-comment__info-name {
  padding-top: 3px;
  padding-bottom: 5px;
  font-weight: 600;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .comment__info-name, .sub-comment__info-name, .next-comment__info-name {
    white-space: normal;
  }
}

.comment__info-reply, .sub-comment__info-reply, .next-comment__info-reply {
  padding-left: 5px;
  font-family: 'Josefin Sans', sans-serif;
  color: #629494;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 600;
}

.comment__info-date, .sub-comment__info-date, .next-comment__info-date {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding-left: 2px;
  font-family: 'Josefin Sans', sans-serif;
  color: #629494;
  font-size: 12px;
  font-weight: 600;
}

.comment__info-text {
  padding-top: 18px;
  padding-bottom: 23px;
}

.comment__photo {
  margin-top: 12px;
  width: 100%;
}

.comment__likes {
  position: absolute;
  top: 37px;
  right: 0;
}

@media (max-width: 768px) {
  .comment__likes {
    top: 19px;
  }
}

.comment__likes-share, .sub-comment__likes-share, .next-comment__likes-share {
  font-size: 12px;
  font-weight: 600;
  color: #323232;
}

.comment__likes-share:hover, .sub-comment__likes-share:hover, .next-comment__likes-share:hover {
  color: #629494;
}

.comment__likes-like, .sub-comment__likes-like, .next-comment__likes-like {
  font-size: 12px;
  font-weight: 600;
  color: #323232;
}

.comment__likes-like:hover, .sub-comment__likes-like:hover, .next-comment__likes-like:hover {
  color: #629494;
}

.comment__likes i {
  padding-left: 3px;
}

.sub-comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: auto;
  width: 88.5%;
}

@media (max-width: 768px) {
  .sub-comment {
    width: 84%;
  }
}

.sub-comment__face {
  margin-top: 20px;
  margin-left: 0;
}

.sub-comment__info {
  margin-top: 20px;
}

.sub-comment__info-text {
  padding-top: 8px;
  padding-bottom: 20px;
}

.sub-comment__more {
  margin-left: 50%;
  outline: none;
  color: #757575;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  white-space: nowrap;
}

.sub-comment__more:hover {
  color: #629494;
}

.sub-comment__likes {
  position: absolute;
  top: 38px;
  right: 0;
}

@media (max-width: 768px) {
  .sub-comment__likes {
    top: 20px;
  }
}

.sub-comment__likes-share:hover {
  color: #629494;
}

.sub-comment__likes-like:hover {
  color: #629494;
}

.sub-comment__likes i {
  padding-left: 3px;
}

.sub-comment hr {
  position: absolute;
  width: 100%;
  margin-top: 0;
}

.next-comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 10px;
}

.next-comment__info-text {
  padding-top: 8px;
}

.next-comment__hr {
  margin-top: 12px;
}

.next-comment__likes {
  position: absolute;
  top: 30px;
  right: 0;
}

@media (max-width: 768px) {
  .next-comment__likes {
    top: 10px;
  }
}

.next-comment__likes-share:hover {
  color: #629494;
}

.next-comment__likes-like:hover {
  color: #629494;
}

.next-comment__likes i {
  padding-left: 3px;
}

.switch {
  margin-bottom: 155px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

.switch__numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 33.57%;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.switch__numbers-item {
  color: black;
}

.switch__numbers-item:hover {
  color: #629494;
}

.switch__numbers-item--current {
  color: #629494;
  pointer-events: none;
  cursor: default;
}

@media (max-width: 1024px) {
  .switch__numbers {
    width: 50%;
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f2f2f;
  -webkit-box-shadow: 1px 3px 7px rgba(11, 12, 12, 0.14);
          box-shadow: 1px 3px 7px rgba(11, 12, 12, 0.14);
}

.footer__logo {
  display: block;
  height: 36px;
  width: 87px;
  margin: 70px auto;
}

@media (max-width: 425px) {
  .footer__logo {
    position: absolute;
    right: 15%;
    top: -55px;
  }
}

.footer__nav {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 60%;
  padding-left: 15%;
}

@media (max-width: 1240px) {
  .footer__nav {
    padding-left: 0;
  }
}

.footer__nav-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none;
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer__nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 425px) {
  .footer__nav-items {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: rgba(254, 254, 254, 0.5);
  }
}

@media (max-width: 768px) {
  .footer__nav-item {
    margin-top: 15px;
  }
}

.footer__nav-item:hover {
  color: #fff;
}

.footer__copyrighted {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
  padding-right: 5%;
  color: #555;
}

@media (max-width: 1269px) {
  .footer__copyrighted {
    padding-right: 0;
    padding-left: 5%;
  }
}

@media (max-width: 425px) {
  .footer__copyrighted {
    color: rgba(254, 254, 254, 0.5);
    margin-top: 25px;
    width: 50%;
  }
}

.footer__copyrighted p {
  padding-top: 27px;
}

.footer__social {
  display: inline-block;
  margin-top: 10px;
  float: right;
  white-space: nowrap;
}

@media (max-width: 1269px) {
  .footer__social {
    float: left;
  }
}

.footer__social i {
  margin-right: 10px;
}
