// I used BEM naming methodology
//It's look like .block__element--modifier and block-name__element-name--modifier, but never block__elem1__elem2

body
  background-color: #eaeaea
  font-family: 'Josefin Sans', sans-serif
  font-weight: 300
  font-size: 16px
  @media (max-width: 425px)
    background-color: #fbfcfd

@-ms-viewport
  width: device-width


//Icons hover 
.fa-angle-left:hover
  color: #629494
.fa-angle-right:hover
  color: #629494
.fa-share-alt:hover
  color: #629494
.fa-thumbs-o-up:hover
  color: #4867aa
.fa-google-plus:hover
  color: #dc473a
.fa-twitter:hover
  color: #1da1f2
.fa-facebook:hover
  color: #4867aa
.fa-pinterest:hover
  color: #bd081b
.fa-envelope-o:hover
  color: #4867AA
.fa-print:hover
  color: #BD081B




html
  box-sizing: border-box
  

*,
*::before,
*::after
  box-sizing: inherit

a
  color: inherit
  text-decoration: none

hr
  border: 2px solid #ddd
  border-bottom: none
  border-left: none
  border-right: none

%hr
  width: 85%
  border-color: #ddd

    



// HEADER START
.header__logo
  display: block
  margin-top: 230px
  margin-bottom: 95px
  margin-left: auto
  margin-right: auto
  max-width: 25.5%
  @media (max-width: 425px)
    display: none 


.nav
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 160px
  margin-left: auto
  margin-right: auto
  padding: 35px 0
  width: 77.777777777%
  max-width: 1120px
  box-shadow: 0 0 13px rgba(11, 12, 12, 0.15)
  background-color: #f8f8f8
  @media (max-width: 600px) and (min-width: 425px)
    flex-wrap: wrap 
  @media (max-width: 425px)
    background-color: #fbfcfd
    box-shadow: none 
    width: 100%
    padding: 0
    margin: 0
    padding-top: 14px
    padding-bottom: 35px 
  &__logo
    margin-left: 5.3%
    
    &--open
      display: none 
    @media (max-width: 1000px) and (min-width: 426px)
      display: none
  &__input
    font-size: 13px
    text-align: center
    margin-left: 4%
    margin-right: 5%
    min-width: 14%
    background-image: url("../img/find-icon.png")
    background-repeat: no-repeat
    background-size: 13px 17px
    background-position: 3px 0
    border: 1px solid #798186
    color: #798186

    @media (max-width: 600px) and (min-width: 425px)
      display: block
      margin-left: auto
      margin-right: auto
      width: 70%
      line-height: 20px
      background-size: 15px 20px
      background-position: 5px 1px
    @media (max-width: 1000px) and (min-width: 601px)
      max-width: 18%
    @media (max-width: 1300px) and (min-width: 601px)
      background: none
    @media (max-width: 425px)
      order: 1
      max-width: none 
      width: 35%
      line-height: 19px
      background-size: 15px 15px
      background-position: 0px 3px
      border: none 
      outline-color: #798186
      margin-left: auto 
      margin-right: 0 
      padding-left: 5%
    @media (max-width: 355px)
      width: 45%
      
    &--open 
      display: none 
  
  &__menu
    text-transform: uppercase
    list-style-type: none
    display: flex
    justify-content: center
    width: 65%
    margin-left: -5%
    overflow: hidden
    @media (max-width: 1000px)
      width: 80%
    @media (max-width: 600px)
      width: 100% 
      padding-left: 0
      margin-left: auto 
    @media (max-width: 425px)
      order: 2
      padding: 0
      margin: 0
      padding-right: 4%
      width: 10%
      justify-content: flex-end 
      
    &--open
        position: relative
        display: flex 
        flex-direction: column
        text-align: center 
        width: 100%
        li 
          display: block
          padding-bottom: 15px 
          background-color: #fbfcfd
          &:nth-child(5)
            padding-bottom: 0
    &-item
      margin-left: 6%
      display: block
      text-align: center
      &:nth-child(3)
        @media (max-width: 1280px) and (min-width: 425px)
          display: none
      &:nth-child(4)
        @media (max-width: 750px) and (min-width: 425px)
          display: none
      @media (max-width: 1625px)
        margin-left: 4%
      @media (max-width: 425px)
        display: none 
    &-icon
      font-size: 20px
      display: none
      &--open 
        position: absolute
        right: 15px
        top: 0
      @media (max-width: 425px)
        display: block 
        width: 15px
    
      





// HEADER END

//MAIN RECIPE START
.main-recipe
  width: 77.777777777%
  max-width: 1120px
  margin-left: auto
  margin-right: auto
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  position: relative
  height: 453px 
  @media (max-width: 425px)
    display: none
  &__mobile
    border: none 
    @media (max-width: 425px)
      width: 100% 
      height: auto
    &-get 
      @extend %btn-reset 
      font-family: 'Josefin Sans', sans-serif
      font-weight: 300 
      font-size: 18px 
      display: block 
      text-transform: uppercase
      margin: 13px auto 25px auto 
      padding-top: 7px 
      outline-color: #798186
      @media (min-width: 426px)
        display: none 
  &__img
    width: 100%
    min-height: 453px 
  &__switcher 
    position: absolute 
    right: 17px
    bottom: 15px 
    cursor: pointer
    &-circle
      color: red
      display: inline-block
      padding: 5px 
      margin-left: 5px
      text-align: center
      border-radius: 50%
      background-color: #fff
      &:hover 
        background-color: #555
      &--checked
        background-color: #555
  &--hide
  display: none 
  &--show
    display: block
    @media (max-width: 425px)
      display: none 

  &__left
    position: absolute 
    top: 0 
    left: 0 
    display: flex
    flex-direction: column
    padding-left: 7%
    padding-top: 50px
    padding-bottom: 4%
    &-logo
      max-width: 250px
      width: 100%
    p
      margin-top: -10px
      max-width: 30%
      min-width: 220px
    a
      padding-top: 8px
      padding-bottom: 5px
      margin-top: 10px
      text-align: center
      color: black
      text-transform: uppercase
      font-size: 12px
      width: 100px
      border: 1px solid #798186
    h2
      color: #911026
      font-family: 'Playfair Display', serif
      font-weight: 400
      font-size: 24px
      margin-top: 35px 
      margin-bottom: 36px




.mobile-top
  @media (min-width: 426px)
    display: none 
  @media (max-width: 425px)
    display: block
    width: 100%
    height: auto 

//MAIN RECIPE END

//SUB-RECIPES START
.sub-recipes
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  margin-top: 160px
  margin-left: auto
  margin-right: auto
  padding-bottom: 30px
  width: 77.7777777%
  max-width: 1120px
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  background-color: #fff
  @media (max-width: 425px)
    box-shadow: none 
    width: 100%
    margin: 0
    
  &__item
    display: flex
    flex-direction: column
    min-width: 28%
    height: auto
    padding: 0 2%
    @media (max-width: 937px)
      min-width: 65%
    @media (max-width: 425px) 
        width: 100%
        padding: 0
    &--tablets
      display: none
      @media (max-width: 1418px) and (min-width: 937px)
        display: flex
    &-img
      padding-top: 40px
      @media (max-width: 425px) 
        width: 100%
        padding: 0

    &-name
      font-size: 18px
      max-width: 300px
      @media (max-width: 426px)
        padding-left: 5%
        max-width: 100%
    &-info
      font-size: 12px
      color: #555
      @media (max-width: 426px)
        padding-left: 5%
        padding-bottom: 30px 
    i
      padding-top: 5px
      padding-right: 7px
//SUB-RECIPES END

//RECIPE WITH SCROLL START
.scroll-recipe
  display: flex
  background-color: white
  width: 77.7777777%
  margin-top: 80px
  margin-left: auto
  margin-right: auto
  max-width: 1120px
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  @media (max-width: 1200px)
    flex-wrap: wrap
    justify-content: center
    align-items: center
  @media (max-width: 425px)
    display: none
  img
    max-width: 50%
    min-width: 420px
    @media (max-width: 1200px)
      min-width: 339px
      min-height: 275px
      padding-top: 20px
      @media( max-width: 600px )
        padding-top: 0
        min-width: 100%

  &__header
    display: flex
    flex-direction: column
    max-width: 55%
    height: 430px
    margin: 0 45px 10px 30px
    @media (max-width: 1200px)
      max-width: 100%
    @media( max-width: 600px )
      min-width: 90%
    &-name
      font-family: 'Playfair Display', serif
      color: #055555
      @media (max-width: 1200px)
        text-align: center
    &-info
      color: #555
      margin-top: -10px
      margin-bottom: 25px
    &-save
      background-color: white
      float: right
      padding: 3px
      text-transform: uppercase
      color: #555
      border: 1px solid #555
      font-size: 12px
      cursor: pointer

  &__scroll
    overflow-y: scroll
    margin-bottom: 20px
    @media (max-width: 600px)
      margin-bottom: 0
    &::-webkit-scrollbar-thumb
      background: #555
    &::-webkit-scrollbar
      width: 2px
      height: 7px
      background-color: #ddd
    p
      font-family: 'Playfair Display', serif
      font-weight: bold
//RECIPE WITH SCROLL END


//FEEDBACKS START
.feedbacks
  display: flex
  justify-content: space-between
  width: 77.7777777%
  max-width: 1120px
  margin-left: auto
  margin-right: auto
  @media (max-width: 800px)
    flex-wrap: wrap
    justify-content: center

  &__404
    display: flex
    flex-direction: column
    align-items: center
    width: 46%
    min-width: 250px
    margin-top: 115px
    background-color: white
    background-image: url('../img/sorry-404.png')
    background-size: 100% 100%
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
    @media (max-width:1024px)
      background-position: center
      background-size: 100% 60%
      background-repeat: no-repeat
      background-color: #FBFCFD
    @media (max-width: 800px)
      display: none
    &-top
      align-self: flex-start
      padding-left: 9%
      padding-top: 7px
    &-text
      text-align: center
      margin-top: 150px
      font-size: 32px
      font-weight: bold
    &-subtext
      margin-top: -22px
      text-align: center
      text-transform: uppercase
      color: rgba(169, 169, 169, 1)
      font-family: 'Playfair Display', serif
      font-weight: 600
    &-back
      padding: 8px 35px 5px 35px
      margin-top: 115px
      margin-bottom: 50px
      border: 1px solid #c2c2c2
      text-transform: uppercase
      color: #3e3e3e
      font-size: 12px
    hr
      @extend %hr
      margin-top: -10px
  
  &__author
    width: 46%
    margin-top: 115px
    background-color: white
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
    @media (max-width: 800px)
      width: 100%
    @media (max-width: 425px)
      display: none
    &-top
      padding-left: 9%
      padding-top: 7px
    &-border
      border-color: #ddd
      margin-top: -10px
      width: 85%
    &-content
      display: flex
      max-width: 90%
    &-photo
      align-self: flex-start
      border-radius: 50%
      max-width: 30%
      margin: 2%
      margin-left: 4%
      @media (max-width: 1200px) and (min-width: 800px)
        padding-top: 20px
    &-info
      padding-left: 2%
      width: 100%
    &-text
      font-style: italic
      @media (max-width: 1280px)
        margin-left: -40%
      @media (max-width: 800px) and (min-width: 650px)
        padding-top: 30px
    &-header
      font-style: normal
      font-size: 20px
      font-weight: 400
    &-name
      display: inline-block
      font-size: 1.5rem
      font-weight: bold
      padding-top: 25px
    &-location
      display: inline-block
      color: black
      padding: 8px 0px
    &-signature
      float: right
      max-width: 50%

    i
      padding-right: 7px
      padding-bottom: 8px
      color: #aaa
        

//FEEDBACKS END



//COLUMNS START 
.columns
  display: flex
  justify-content: space-between
  margin: 0 auto
  width: 71.18055555%
  max-width: 1025px
  flex-wrap: wrap 
  @media (max-width: 425px)
    width: 100%
    

  

//First column start
.first-column
  display: flex
  flex-direction: column
  width: 27.8%  
  @media( max-width: 1240px)
    display: none 


.small-recipe
  margin-top: 100px
  background-color: white  
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  &__header
    text-align: center
    font-family: 'Playfair Display', serif
    font-weight: 900 
    font-size: 22px
    color: #055555
  &__info
    display: flex
    padding-left: 8%
  &__text
    margin-left: 6%
  &__icons
    font-size: 12px
    color: #555
  &__author
    align-self: center
    border-radius: 50%
  &__recipe
    width: 100%
    display: block
  &__images 
    position: relative 
  &__circle
    color: red
    display: inline-block
    padding: 5px 
    margin-left: 8px
    margin-right: 8px
    text-align: center
    border-radius: 50%
    border: 1px solid #999
    background-color: #fff
    &--checked
      background-color: #888
    &:hover 
      background-color: #888
  &__switcher
    position: absolute
    left: 0
    right: 0
    text-align: center 
    bottom: 5px
    cursor: pointer
  hr
    @extend %hr 
    margin-top: -15px
  i
    padding-top: 5px
    padding-right: 7px


.target
  margin-top: 40px
  background-color: white
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  &__header
    padding-left: 8%
    font-size: 20px
    font-weight: 400
    &-icons
      white-space: nowrap 
      float: right 
      margin-right: 8%
      font-size: 16px
      i
        padding-right: 10px
        color: #555
  &__sub-header
    padding-left: 10%
    margin: 18px 0 30px 0
    font-family: 'Playfair Display', serif
    font-weight: 900 
    font-size: 20px
    color: #055555
  &__info
    position: relative
    margin: 0
    padding-left: 9%
    width: 66%
    color: #9f9f9f
    &-class
      font-size: 18px
    &-text
      font-size: 14px
      font-style: italic
    //  TO DO remade this 
    &-inside
      position: absolute
      bottom: 30%
      right: 105%
      font-size: 21px
  &__top
    display: flex
    padding-left: 10%
    padding-top: -10px
  &__center
    display: flex
    padding-left: 10%
    padding-top: 45px
  &-info
    margin: 0
    padding-left: 7%
  &__bottom
    display: flex
    padding-top: 45px
    padding-bottom: 55px
    padding-left: 10%
  hr
    @extend %hr
    margin-top: -15px


//First column end


//Second column start
.second-column
  display: flex
  flex-direction: column
  width: 27.8%
  @media( max-width: 1240px)
    width: 45% 
  @media( max-width: 600px)
    width: 90%
    margin: 0 auto 
  @media (max-width: 425px)
    width: 100%
    

.level-recipes 
  margin-top: 100px 
  background-color: #fff 
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  @media (max-width: 1240px)
    order: 1
  @media (max-width: 425px)
    margin-top: 2px 
    box-shadow: none 
  &__header
    padding-left: 8%
    font-size: 20px 
    font-weight: 400
    line-height: 30px 
    @media (max-width: 425px)
      display: none 
    &-text 
      line-height: 20px 
      font-size: 12px
    &-icons 
      white-space: nowrap 
      float: right 
      margin-right: 8%
      font-size: 16px
      color: #555
      .fa-print
        @media (max-width: 1024px)
          display: none 
  &__button 
    width: 30% 
    font-size: 12px
    line-height: 25px
    text-transform: uppercase 
    border: none
    background: none
    outline: none 
    color: #999
    font-weight: 300
    cursor: pointer
    &--picked
      width: 30% 
      font-size: 12px
      line-height: 25px
      text-transform: uppercase 
      border: none
      background: none
      color: #000
      font-weight: 700
      cursor: default
  &__content
    display: none  
  &__levels 
    text-align: center
    @media (max-width: 425px)
      padding-top: 20px

  &__recipe
    display: flex 
    padding-top: 35px
    @media (max-width: 1024px)
      flex-direction: column
    @media (max-width: 600px)
      flex-direction: row
      
    &--first
      padding-top: 20px
      @media (max-width: 1024px)
        flex-direction: column
      @media (max-width: 600px)
        flex-direction: row
  &__text 
    display: inline-block
    padding-left: 20px
    width: 70%
    cursor: pointer 
    @media (max-width: 1024px)
      width: 90%
      text-align: center
    @media (max-width: 600px)
      width: 70%
      text-align: left 
      padding-left: 0
    &-header 
      font-size: 12px 
      font-weight: 600
      display: inline-block
      margin: 0
      margin-bottom: 5px
    &-by 
      font-weight: 300
    &-subtext
      display: inline-block
      font-size: 16px 
      font-weight: 600
      @media (max-width: 1024px)
        text-align: left 
  &__img 
    padding-left: 20px 
    align-self: flex-start
    @media (max-width: 1024px)
      padding-left: 0
      margin-left: auto 
      margin-right: auto 
      width: 60px
  &__view
    float: right 
    margin-right: 8%
    margin-top: 25px
    margin-bottom: 15px 
    padding: 8px 12px 5px 12px  
    border: 1px solid #999
    text-transform: uppercase
    font-size: 12px 
    color: #010101

  hr
    @extend %hr 
    margin-top: -15px
    @media (max-width: 425px)
      display: none 
  i
    padding-right: 10px
    



.tags 
  margin-top: 45px
  background-color: white  
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  @media (max-width: 1240px)
    order: 2
  @media (max-width: 600px)
    display: none 
  &__header 
    padding-left: 8%
    line-height: 10px
    font-size: 20px 
    font-weight: 400 
  &__text
    margin: 0
    padding-left: 8%
    padding-bottom: 15px 
    max-width: 90%
    line-height: 25px
    word-spacing: 10px
    text-transform: uppercase 
    font-size: 12px 
    
  hr
    @extend %hr 
    margin-top: -15px
    

.calendar 
  margin-top: 45px
  margin-bottom: 95px
  padding-bottom: 10px
  background-color: white 
  position: relative 
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  @media (max-width: 1240px)
    display: none 
  &__header 
    padding-left: 8%
    line-height: 10px
    font-size: 20px 
    font-weight: 400 
  &__wrapper
    margin: 0 auto 
    width: 80%
    table
      width: 100%
      margin-top: -8px 
    td
      height: 36px
      text-align: center
      font-size: 14px
      font-weight: 400
      &.not-current
        color: #c2c2c2
      &.today
        color: black
        font-weight: 700
        font-size: 17px
  hr 
    @extend %hr 
    margin-top: -15px
    
//Calendar buttons start
%calc-button 
  position: absolute 
  background: none 
  border: none
  outline: none
  cursor: pointer
  color: #555
  font-family: "Roboto Condensed", sans-serif
  font-size: 14px 

#btnPrev
  @extend %calc-button
  margin-left: 11%
#btnNext
  @extend %calc-button
  margin-left: 83%
//Calendar buttons end

//Second column end



//Third column start 
.third-column
  display: flex
  flex-direction: column
  width: 27.8%
  @media (max-width: 1240px)
    width: 40% 
  @media (max-width: 1024px)
    width: 45% 
  @media (max-width: 600px)
    width: 90%
    margin: 0 auto 
    margin-top: -30px
  @media (max-width: 425px)
    width: 100%
    margin: 0
    

.popular 
  margin-top: 100px  
  padding-bottom: 130px 
  background-image: url('../img/coffee.png')
  background-size: 100% 100%
  padding-right: 5%
  padding-left: 5%
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  @media (max-width: 425px)
    box-shadow: none 
    margin-top: 2px
    padding-top: 30px
    margin-bottom: 2px 
  &__header 
    margin-top: 17px
    margin-bottom: 32px
    font-family: 'Playfair Display', serif
    color: #921026
    font-size: 32px 
    font-weight: 900 
    @media (max-width: 1400px)
      text-align: center 
  &__sub-header 
    margin: 0
    font-weight: bold 
    font-size: 22px 
    @media (max-width: 425px)
      padding-left: 5%

  &__text
    font-weight: 400 
    margin-top: 10px
    @media (max-width: 425px)
      padding-left: 5%
  &__info 
    white-space: nowrap
    @media (max-width: 425px)
      padding-left: 5%
 
  i
    padding-left: 2%
    font-size: 13px
    color: #555
    @media (max-width: 1400px) and (min-width: 425px)
      display: none 
  a
    display: inline-block
    padding: 8px 12px 5px 12px  
    border: 1px solid #999
    text-transform: uppercase
    font-size: 12px
    @media (max-width: 1400px) and (min-width: 425px)
      display: block 
      margin-left: auto 
      margin-right: auto 
      max-width: 95px
      

.time
  margin-top: 45px 
  background-color: white
  width: 100% 
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  @media (max-width: 600px)
    display: none 
  &__header
    padding-left: 8%
    margin-top: 35px 
    margin-bottom: 0px
    font-size: 20px 
    font-weight: 400 
    &-hr 
      @extend %hr 
    &-icons 
      white-space: nowrap  
      margin-right: 8%
      float: right
      font-size: 16px
      i
        padding-right: 10px
        color: #555
        @media( max-width: 768px)
          display: none 
      .fa-print
        @media( max-width: 1024px)
          display: none 
      
        
        
  &__sub-header               
    padding-left: 11%
    margin-top: 10px 
    font-family: 'Playfair Display', serif
    font-weight: 900
    font-size: 20px
    color: #055555
  /* I just drew "lines" element like normal, and turned it on 270*,
    when you add your properties of width/height, paddings/margins to &-item 
    keep in mind that they rotated */
  &__lines               
    max-width: 50%
    margin: 0 auto 
    white-space: nowrap     
    transform: rotate(270deg)
    margin-bottom: -20px
    margin-top: 30px
    @media (max-width: 900px)
      margin-top: 50px
    @media (max-width: 768px)
      margin-top: 90px
    &-hr  
      width: 66.666%
    &-item 
      padding-top: 15%
      padding-bottom: 15%
      @media (max-width: 1400px)
        padding-top: 10%
        padding-bottom: 10%
  &__text 
    margin: 13px auto
    width: 66.666%
    padding-bottom: 40px

//Third column end


//COLUMNS END



//FORMS START 

.forms 
  display: flex
  flex-wrap: wrap 
  justify-content: space-between
  margin: 0 auto
  width: 51.7%
  max-width: 1025px
  @media (max-width: 1240px)
    margin-top: 100px 
  @media (max-width: 1024px)
    width: 70%
  @media (max-width: 425px)
    display: none 

.forms-container
  width: 85%
  margin: 0 auto 


//Login form start 
.login 
  width: 43% 
  background-color: #fff
  align-self: flex-start   //To stop increasing of height because of flexbox and sign-in
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  @media (max-width: 600px)
    width: 80%
    margin: 0 auto 
  &__header 
    margin-top: 15px 
    margin-bottom: 0
    margin-left: 1%
    font-size: 20px
    font-weight: 400
  &__sub-header 
    margin-top: 30px 
    margin-bottom: 20px 
    margin-left: 1% 
  &__login-input
    @extend %input 
    padding-left: 15px
    margin-bottom: 23px
    @media (max-width: 768-px)      
      margin-bottom: 5px
  &__password-input 
    @extend %input 
    padding-left: 15px
    margin-bottom: 15px
  &__remember
    font-size: .75rem /* 12/16 */
    font-weight: 400 
    color: rgba( 0, 0, 0, 0.5)  
    cursor: pointer 
    &-checkbox
      outline: none 
    @media (max-width: 1283px)
      display: block 
      text-align: center
  &__forgot 
    float: right 
    margin-top: 4px
    padding-left: 20px 
    font-size: .75rem /* 12/16 */
    font-weight: 400 
    color: rgba( 0, 0, 0, 0.5) 
    @media (max-width: 1283px)
      float: none 
      text-align: center
      padding-left: 0 
      margin-top: 15px
      margin-bottom: -10px
  &__button
    display: block
    width: 100px
    margin-top: 30px 
    margin-right: auto 
    margin-left: auto 
    background: none 
    cursor: pointer
    border: 1px solid #c2c2c2
    outline-color: #979797
    font-size: 12px
    line-height: 25px
    text-transform: uppercase 
    color: #3f3f3f
  &__social
    margin-top: 4px 
    text-align: center 
    color:#555
    &-google
      margin-left: 8px  //for unclickable area between icons 
  &__sign-up
    padding-bottom: 25px
    text-align: center
    color: #757575

//Login form end


//Sign-up start
.sign 
  background-color: #fff 
  width: 43%
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  @media (max-width: 600px)
    width: 80%
    margin: 50px auto 
  &__header 
    @extend .login__header
  &__sub-header 
    @extend .login__sub-header
  &__email-input
    @extend %input 
    padding-left: 15px
    margin-bottom: 15px
    
      
  &__name-input
    @extend %input 
    padding-left: 15px
    margin-bottom: 15px
    
  &__password-input
    @extend %input 
    padding-left: 15px
    margin-bottom: 15px
  &__button
    @extend .login__button
    margin-top: 15px 
  &__social 
    @extend .login__social
    &-google
      margin-left: 8px  //for unclickable area between icons 
  &__terms 
    padding-bottom: 25px
    text-align: center
    color: #757575
    font-size: 14px 
    width: 85%
    margin: 0 auto 
    &-link
      color: #002dd6
      text-decoration: underline

%input 
    height: 40px 
    width: 100%
    outline-color: #979797
    color: #555 
    border: 1px solid #c2c2c2
    &::-webkit-input-placeholder  
      color: #ccc


//Sign-up end

//FORMS END



//COMMENTS START 
.comments
  width: 58.3%
  padding-right: 15px
  padding-left: 15px
  margin-top: 120px
  margin-left: auto 
  margin-right: auto 
  max-width: 1025px
  @media (max-width: 900px)
    width: 77.7%
  @media (max-width: 480px)
    display: none 


//Leave a comment start 
.post
  padding-left: 5%
  padding-right: 5% 
  padding-bottom: 31px
  margin-left: auto 
  margin-right: auto 
  margin-bottom: 45px 
  background: #fff
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  &__text
    padding-top: 25px 
    margin-bottom: 17px 
    font-size: 24px
    font-weight: 400 
    &-social 
      @extend %btn-reset 
      float: right 
      padding-top: 6px 
      font-size: 16px
      @media (max-width: 680px)
        display: inline-block
        float: none 
        margin-top: 10px
  &__form 
    display: flex 
    background-color: #f6f6f6
    &-face 
      align-self: center 
      margin-left: 2.6%
      border-radius: 50%
      @media (max-width: 600px)
        display: none 
    &-input 
      align-self: center 
      width: 66.6%
      height: 40px
      padding-left: 1%
      margin-left: 5% 
      margin-top: 15px   
      margin-bottom: 15px
      border: 1px solid #c2c2c2
      outline-color: #979797
      color: #555 
    &-button 
      align-self: center 
      width: 80px
      height: 40px
      margin-left: 1%
      margin-right: 5px 
      border: 1px solid #c2c2c2
      background: #383737
      outline-color: #979797
      color: #fff
      text-transform: uppercase 
      font-weight: 400 
      cursor: pointer
//Leave a comment end

//Board with comments start 
.board
  width: 100% 
  padding-left: 5%
  padding-right: 5%
  padding-bottom: 45px
  margin-left: auto
  margin-right: auto
  margin-top: 45px
  margin-bottom: 45px
  background: white
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  &__title 
    padding-top: 20px
    margin-bottom: 0
    font-size: 24px 
    font-weight: 400
    
%btn-reset
  border: none
  background: none
  cursor: pointer

//top comment start 
.comment 
  display: flex 
  position: relative
  padding-top: 18px 
  &__face 
    border-radius: 50%
    align-self: flex-start 
    margin-left: 1.5%
  &__info 
    display: flex 
    flex-direction: column
    padding-left: 2.5%
    &-top 
      font-weight: 400 
    &-name 
      padding-top: 3px
      padding-bottom: 5px
      font-weight: 600 
      white-space: nowrap //for fixing a bug
      @media (max-width: 600px)
        white-space: normal 
    &-reply
      @extend %btn-reset
      padding-left: 5px 
      font-family: 'Josefin Sans', sans-serif
      color: #629494
      text-decoration: underline 
      font-size: 12px 
      font-weight: 600 
    &-date
      @extend %btn-reset
      align-self: flex-start
      padding-left: 2px 
      font-family: 'Josefin Sans', sans-serif
      color: #629494
      font-size: 12px 
      font-weight: 600 
    &-text 
      padding-top: 18px 
      padding-bottom: 23px
  &__photo 
    margin-top: 12px 
    width: 100%
  &__likes
    position: absolute 
    top: 37px
    right: 0
    @media (max-width: 768px)
      top: 19px
    &-share 
      @extend %btn-reset
      font-size: 12px 
      font-weight: 600 
      color: #323232
      &:hover 
        color: #629494
    &-like 
      @extend %btn-reset
      font-size: 12px 
      font-weight: 600
      color: #323232
      &:hover 
        color: #629494
    i 
      padding-left: 3px 
//top comment end
  
//sub comment start 
.sub-comment
  display: flex 
  position: relative 
  margin-left: auto 
  width: 88.5%
  @media (max-width: 768px)
    width: 84%

  &__face 
    @extend .comment__face 
    margin-top: 20px 
    margin-left: 0
  &__info 
    @extend .comment__info 
    margin-top: 20px 
    &-top 
      @extend .comment__info-top 
    &-name 
      @extend .comment__info-name 
    &-reply
      @extend .comment__info-reply 
    &-date
      @extend .comment__info-date 
    &-text 
      padding-top: 8px 
      padding-bottom: 20px
  &__more 
    @extend %btn-reset 
    margin-left: 50%
    outline: none
    color: #757575
    font-family: 'Josefin Sans', sans-serif
    font-weight: 300
    font-size: 16px
    white-space: nowrap
    &:hover 
      color: #629494
  &__likes
    position: absolute 
    top: 38px
    right: 0
    @media (max-width: 768px)
      top: 20px
    &-share 
      @extend .comment__likes-share
      &:hover 
        color: #629494
    &-like 
      @extend .comment__likes-like
      &:hover 
        color: #629494
    i 
      padding-left: 3px 
  hr 
    position: absolute
    width: 100%
    margin-top: 0 
//sub comment end 
    

//next comment start 
.next-comment
  display: flex 
  position: relative 
  padding-top: 10px
  &__face 
    @extend .comment__face 
  &__info 
    @extend .comment__info 
    &-top 
      @extend .comment__info-top 
    &-name
      @extend .comment__info-name
    &-reply
      @extend .comment__info-reply
    &-date 
      @extend .comment__info-date
    &-text 
      padding-top: 8px 
  &__hr   
    margin-top: 12px
  &__likes
    position: absolute 
    top: 30px
    right: 0
    @media (max-width: 768px)
      top: 10px
    &-share 
      @extend .comment__likes-share
      &:hover 
        color: #629494
    &-like 
      @extend .comment__likes-like
      &:hover 
        color: #629494
    i 
      padding-left: 3px 
//next comment end 

//Board with comments end


//Switch start
.switch 
  margin-bottom: 155px
  background-color: #fff 
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15)
  &__numbers
    display: flex 
    justify-content: space-between
    list-style: none
    width: 33.57%
    padding-top: 40px
    padding-bottom: 30px
    margin-left: auto 
    margin-right: auto 
    font-size: 18px 
    &-item 
      @extend %btn-reset
      color: black
      &:hover 
        color: #629494
      &--current 
        color: #629494
        pointer-events: none
        cursor: default
    @media (max-width: 1024px)
      width: 50%
  //Switch end
    
//COMMENTS END 

 //FOOTER START
.footer
  position: relative
  display: flex 
  background-color: #2f2f2f
  box-shadow: 1px 3px 7px rgba(11, 12, 12, 0.14)
  
  &__logo
    display: block
    height: 36px
    width: 87px 
    margin: 70px auto
    @media (max-width: 425px)
      position: absolute 
      right: 15%
      top: -55px
    // &-container 
    //   width: 23%
    //   @media (max-width: 1024px)
    //     position: absolute 
    //     width: 10%
  &__nav
    align-self: center 
    width: 60%
    padding-left: 15%
    @media (max-width: 1240px)
      padding-left: 0
    &-items
      display: flex 
      justify-content: space-around
      list-style: none
      color: #555
      text-transform: uppercase
      font-size: 12px
      @media (max-width: 768px)
        flex-direction: column 
        align-items: center 
      @media (max-width: 425px)
        align-items: flex-start 
        color: rgba(254, 254, 254, 0.5)

    &-item 
      @media (max-width: 768px)
        margin-top: 15px 
      &:hover
        color: #fff
  &__copyrighted
    display: flex 
    align-items: center 
    justify-content: flex-end
    width: 30%
    padding-right: 5%
    color: #555
    @media (max-width: 1269px)
      padding-right: 0
      padding-left: 5%
    @media (max-width: 425px)
      color: rgba(254, 254, 254, 0.5)
      margin-top: 25px
      width: 50%
    p   
      padding-top: 27px

  &__social
    display: inline-block 
    margin-top: 10px 
    float: right
    white-space: nowrap
    @media (max-width: 1269px)
      float: left
    i 
      margin-right: 10px
