body {
  background-color: #eaeaea;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

.header__logo {
  margin-top: 230px;
  margin-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
  max-width: 25.5%;
  min-width: 250px;
}

.nav {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
  padding: 35px 0px;
  width: 77.777777777%;
}

.nav__logo {
  margin-left: 5.3%;
}

@media (max-width: 1000px) {
  .nav__logo {
    display: none;
  }
}

.nav__input {
  text-align: center;
  margin-left: 4%;
  margin-right: 5%;
  max-width: 14%;
  background-image: url("../img/find-icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: 13px 17px;
          background-size: 13px 17px;
  border: 1px solid #798186;
}

@media (max-width: 1000px) {
  .nav__input {
    max-width: 18%;
  }
}

@media (max-width: 1300px) {
  .nav__input {
    background: none;
  }
}

.nav__menu {
  text-transform: uppercase;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 65%;
  margin-left: -5%;
}

@media (max-width: 1000px) {
  .nav__menu {
    min-width: 80%;
  }
}

.nav__menu-item {
  margin-left: 6%;
}

@media (max-width: 1625px) {
  .nav__menu-item {
    margin-left: 4%;
  }
}

@media (max-width: 1280px) {
  .nav__menu-item--hide {
    display: none;
  }
}

.main-recipe {
  width: 77.777777777%;
  background-image: url("../img/main-recipe.png");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

.main-recipe__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7%;
  padding-top: 3.5%;
  padding-bottom: 4%;
}

.main-recipe__left-logo {
  max-width: 250px;
}

.main-recipe__left p {
  margin-top: -10px;
  max-width: 30%;
  min-width: 220px;
}

.main-recipe__left a {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  width: 100px;
  border: 1px solid #798186;
  padding: 4px;
  margin-top: 10px;
}

.main-recipe__left h2 {
  color: #911026;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 24px;
}

.sub-recipes {
  background-color: white;
  margin-top: 160px;
  padding-bottom: 30px;
  width: 77.7777777%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sub-recipes__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 28%;
  height: auto;
  padding: 0px 2%;
}

@media (max-width: 937px) {
  .sub-recipes__item {
    min-width: 65%;
  }
}

.sub-recipes__item--tablets {
  display: none;
}

@media (max-width: 1434px) and (min-width: 937px) {
  .sub-recipes__item--tablets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.sub-recipes__item-img {
  padding-top: 40px;
}

.sub-recipes__item-name {
  font-size: 18px;
  max-width: 300px;
}

.sub-recipes__item-info {
  font-size: 12px;
  color: #555;
}

.sub-recipes__item i {
  padding-top: 5px;
  padding-right: 7px;
}

.scroll-recipe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 77.7777777%;
  margin-top: 80px;
}

@media (max-width: 1200px) {
  .scroll-recipe {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.scroll-recipe img {
  max-width: 50%;
  min-width: 420px;
}

@media (max-width: 1200px) {
  .scroll-recipe img {
    min-width: 339px;
    min-height: 275px;
    padding-top: 20;
  }
}

.scroll-recipe__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 55%;
  height: 440px;
  margin: 0px 45px 10px 30px;
}

@media (max-width: 1200px) {
  .scroll-recipe__header {
    max-width: 100%;
  }
}

.scroll-recipe__header-name {
  font-family: 'Playfair Display', serif;
  color: #055555;
}

@media (max-width: 1200px) {
  .scroll-recipe__header-name {
    text-align: center;
  }
}

.scroll-recipe__header-info {
  color: #555;
  margin-top: -10px;
  margin-bottom: 25px;
}

.scroll-recipe__header-save {
  background-color: white;
  float: right;
  padding: 3px;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #555;
  font-size: 12px;
}

.scroll-recipe__scroll {
  overflow-y: scroll;
  margin-bottom: 20px;
}

.scroll-recipe__scroll::-webkit-scrollbar-thumb {
  background: #555;
}

.scroll-recipe__scroll::-webkit-scrollbar {
  width: 2px;
  height: 7px;
  background-color: #ddd;
}

.scroll-recipe__scroll p {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 77.7777777%;
}

@media (max-width: 800px) {
  .comments {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.comments__sorry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 515px;
  width: 46%;
  min-width: 250px;
  margin-top: 115px;
  background-color: white;
  background-image: url("../img/sorry-404.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

@media (max-width: 1024px) {
  .comments__sorry {
    background-position: center;
    -webkit-background-size: 100% 60%;
            background-size: 100% 60%;
    background-repeat: no-repeat;
    background-color: #FBFCFD;
  }
}

@media (max-width: 800px) {
  .comments__sorry {
    display: none;
  }
}

.comments__sorry-top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding-left: 9%;
  padding-top: 7px;
}

.comments__sorry-text {
  margin-top: 170px;
  font-size: 32px;
  font-weight: bold;
}

.comments__sorry-subtext {
  margin-top: -22px;
  text-align: center;
  text-transform: uppercase;
  color: #a9a9a9;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.comments__sorry-back {
  padding: 5px 35px;
  margin-top: 115px;
  border: 1px solid #c2c2c2;
  text-transform: uppercase;
  color: #3e3e3e;
  font-size: 12px;
}

.comments__sorry hr {
  width: 85%;
  border-color: #ddd;
  margin-top: -10px;
}

.comments__author {
  width: 46%;
  min-height: 515px;
  margin-top: 115px;
  background-color: white;
  min-width: 250px;
}

@media (max-width: 800px) {
  .comments__author {
    width: 100%;
  }
}

.comments__author-top {
  padding-left: 9%;
  padding-top: 7px;
}

.comments__author-border {
  border-color: #ddd;
  margin-top: -10px;
  width: 85%;
}

.comments__author-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
}

.comments__author-photo {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  max-width: 30%;
  padding: 2%;
  margin-left: 4%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (max-width: 1200px) and (min-width: 800px) {
  .comments__author-photo {
    padding-top: 20px;
  }
}

.comments__author-info {
  padding-left: 2%;
}

.comments__author-text {
  font-style: italic;
}

@media (max-width: 1280px) {
  .comments__author-text {
    margin-left: -45%;
  }
}

@media (max-width: 800px) and (min-width: 650px) {
  .comments__author-text {
    padding-top: 30px;
  }
}

.comments__author-header {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
}

.comments__author-name {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 25px;
}

.comments__author-location {
  display: inline-block;
  color: black;
  padding: 8px 0px;
}

.comments__author-signature {
  float: right;
  max-width: 50%;
}

.comments__author i {
  padding-right: 7px;
  padding-bottom: 8px;
  color: #aaa;
}

.fa-google-plus:hover {
  color: #DC473A;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-facebook:hover {
  color: #4867AA;
}

.fa-pinterest:hover {
  color: #BD081B;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 71.18055555%;
}

.first-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

.small-recipe {
  margin-top: 75px;
  background-color: white;
}

.small-recipe__header {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 22px;
  color: #055555;
  text-align: center;
}

.small-recipe__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8%;
}

.small-recipe__text {
  margin-left: 6%;
}

.small-recipe__icons {
  font-size: 12px;
  color: #555;
}

.small-recipe__author {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.small-recipe__img {
  width: 100%;
  display: block;
}

.small-recipe i {
  padding-top: 5px;
  padding-right: 7px;
}

.small-recipe hr {
  width: 85%;
  border-color: #ddd;
  margin-top: -15px;
}

.target {
  margin-top: 40px;
  background-color: white;
}

.target__header {
  font-size: 20px;
  font-weight: 400;
  padding-left: 8%;
}

.target__header-icons {
  float: right;
  padding-right: 8%;
  font-size: 16px;
  color: #555;
}

.target__header-icons i {
  padding-right: 10px;
}

.target__sub-header {
  padding-left: 10%;
  margin: 18px 0px 30px 0px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 20px;
  color: #055555;
}

.target__info {
  color: #9f9f9f;
  margin: 0px;
  padding-left: 9%;
  width: 66%;
  position: relative;
}

.target__info-class {
  font-size: 18px;
}

.target__info-text {
  font-size: 14px;
  font-style: italic;
}

.target__info-inside {
  position: absolute;
  bottom: 30%;
  right: 105%;
  font-size: 21px;
}

.target__top {
  padding-left: 10%;
  padding-top: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.target__center {
  padding-left: 10%;
  padding-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.target-info {
  margin: 0;
  padding-left: 7%;
}

.target__bottom {
  padding-left: 10%;
  padding-top: 45px;
  padding-bottom: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.target hr {
  width: 85%;
  border-color: #ddd;
  margin-top: -15px;
}

.fa-envelope-o:hover {
  color: #4867AA;
}

.fa-print:hover {
  color: #BD081B;
}

.second-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

.level-recipes {
  margin-top: 75px;
  background-color: white;
}

.level-recipes__header {
  padding-left: 8%;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.level-recipes__header-text {
  font-size: 12px;
}

.level-recipes__header-icons {
  float: right;
  padding-right: 8%;
  font-size: 16px;
  color: #555;
}

.level-recipes__levels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.level-recipes__text {
  padding-left: 20px;
  width: 70%;
}

.level-recipes__recipes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}

.level-recipes__recipes--first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.level-recipes__recipes-subtext {
  font-size: 16px;
  font-weight: 600;
}

.level-recipes__view {
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #555;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.level-recipes img {
  padding-left: 20px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.level-recipes hr {
  width: 85%;
  border-color: #ddd;
  margin-top: -15px;
}

.level-recipes i {
  padding-right: 10px;
}

.third-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

.card-block__face {
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.make-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eml-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

.calendar-wrapper {
  width: 300px;
  margin: 3em auto;
  padding: 2em;
  border: 1px solid #dcdcff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
}

table {
  clear: both;
  width: 100%;
  border: 1px solid #dcdcff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}

td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #dcdcff;
  border-top: 1px solid #dcdcff;
  width: 100% / 7;
}

td.not-current {
  color: #c0c0c0;
}

td.today {
  font-weight: 700;
  color: #28283b;
  font-size: 1.5em;
}

thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: 1.5em;
}

#btnPrev {
  float: left;
  margin-bottom: 20px;
}

#btnNext {
  float: right;
  margin-bottom: 20px;
}

#btnPrev, #btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bgred {
  background-color: red;
}

.bgwhite {
  background-color: #fff;
}

.coffee {
  max-width: 25%;
}

.coffee__pic {
  position: relative;
}

.coffee__text {
  top: 150px;
  position: absolute;
}

.time__lines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 210px;
  height: 210px;
  background-color: grey;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.post {
  width: 100%;
  background: white;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.post__pic {
  background-color: grey;
  width: 75%;
  margin-left: 15%;
  padding: 10px;
}

.post__input {
  width: 66.6%;
}

.img-fluider {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.width-max {
  border-top-color: black;
  width: 100%;
  padding-left: 5%;
}

.floatright {
  float: right;
  margin-top: -50px;
}

.margin-bottom {
  margin-bottom: 70px;
}

.changer-width {
  width: 50%;
  background-color: grey;
  height: 20px;
}

.changer {
  height: 100px;
  width: 100%;
  background: white;
}

.footer {
  background-color: grey;
}

.footer__img {
  margin: 50px;
}
