body {
  background-color: #eaeaea;
}

.header__logo {
  margin-top: 250px;
  margin-bottom: 115px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-img {
  max-width: 383px;
  min-width: 300px;
  padding: 20px 0;
}

.nav {
  background-color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 160px;
}

.nav__logo {
  margin-left: 40px;
}

.nav__input {
  margin-left: 45px;
  max-width: 160px;
  text-align: center;
}

ul {
  text-transform: uppercase;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.main-recipe {
  background-image: url("../img/main-recipe.png");
}

.main-recipe__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-recipe__left p {
  max-width: 350px;
}

.main-recipe__left-img {
  max-width: 100%;
}

.sub-recipes {
  background-color: white;
  margin-top: 160px;
  padding-bottom: 60px;
}

.sub-recipes__item {
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 420px;
}

.sub-recipes__item-img {
  margin-top: 40px;
}

.sub-recipes__item-text {
  max-width: 280px;
  background-color: red;
}

.scroll-recipe {
  margin-top: 80px;
  background-color: white;
}

.scroll-recipe__scroll {
  padding-right: 20px;
  max-height: 69%;
  overflow-y: scroll;
}

.comments {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments__sorry-404 {
  margin-top: 115px;
  position: relative;
  z-index: 23;
  background-color: white;
  height: 515px;
  width: 540px;
  background-image: url("../img/sorry-404.png");
  background-repeat: no-repeat;
  background-position: center;
}

.comments__author {
  margin-top: 115px;
  background-color: white;
  width: 515px;
  height: 515px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.comments__author-photo {
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.card-block__face {
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.make-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eml-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

.calendar-wrapper {
  width: 300px;
  margin: 3em auto;
  padding: 2em;
  border: 1px solid #dcdcff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
}

table {
  clear: both;
  width: 100%;
  border: 1px solid #dcdcff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}

td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #dcdcff;
  border-top: 1px solid #dcdcff;
  width: 100% / 7;
}

td.not-current {
  color: #c0c0c0;
}

td.today {
  font-weight: 700;
  color: #28283b;
  font-size: 1.5em;
}

thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: 1.5em;
}

#btnPrev {
  float: left;
  margin-bottom: 20px;
}

#btnNext {
  float: right;
  margin-bottom: 20px;
}

#btnPrev, #btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bgred {
  background-color: red;
}

.bgwhite {
  background-color: #fff;
}

.coffee {
  max-width: 25%;
}

.coffee__pic {
  position: relative;
}

.coffee__text {
  top: 150px;
  position: absolute;
}

.time__lines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 210px;
  height: 210px;
  background-color: grey;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.bg-grey {
  background-color: grey;
  width: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
