body {
  background-color: #eaeaea;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.feedbacks__404 hr, .small-recipe hr, .target hr, .level-recipes hr, .tags hr, .calendar hr, .time__header-hr {
  width: 85%;
  border-color: #ddd;
}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

.header__logo {
  display: block;
  margin-top: 230px;
  margin-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
  max-width: 25.5%;
}

.nav {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
  padding: 35px 0;
  width: 77.777777777%;
  max-width: 1120px;
}

.nav__logo {
  margin-left: 5.3%;
}

@media (max-width: 1000px) {
  .nav__logo {
    display: none;
  }
}

.nav__input {
  font-size: 13px;
  text-align: center;
  margin-left: 4%;
  margin-right: 5%;
  max-width: 14%;
  background-image: url("../img/find-icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: 13px 17px;
          background-size: 13px 17px;
  background-position: 3px 0;
  border: 1px solid #798186;
}

@media (max-width: 1000px) {
  .nav__input {
    max-width: 18%;
  }
}

@media (max-width: 1300px) {
  .nav__input {
    background: none;
  }
}

.nav__menu {
  text-transform: uppercase;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 65%;
  margin-left: -5%;
}

@media (max-width: 1000px) {
  .nav__menu {
    min-width: 80%;
  }
}

.nav__menu-item {
  margin-left: 6%;
}

@media (max-width: 1625px) {
  .nav__menu-item {
    margin-left: 4%;
  }
}

@media (max-width: 1280px) {
  .nav__menu-item--hide {
    display: none;
  }
}

.main-recipe {
  width: 77.777777777%;
  max-width: 1120px;
  background-image: url("../img/main-recipe.png");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

.main-recipe__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7%;
  padding-top: 3.5%;
  padding-bottom: 4%;
}

.main-recipe__left-logo {
  max-width: 250px;
}

.main-recipe__left p {
  margin-top: -10px;
  max-width: 30%;
  min-width: 220px;
}

.main-recipe__left a {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  width: 100px;
  border: 1px solid #798186;
  padding: 4px;
  margin-top: 10px;
}

.main-recipe__left h2 {
  color: #911026;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 24px;
}

.sub-recipes {
  background-color: white;
  margin-top: 160px;
  padding-bottom: 30px;
  width: 77.7777777%;
  max-width: 1120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sub-recipes__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 28%;
  height: auto;
  padding: 0 2%;
}

@media (max-width: 937px) {
  .sub-recipes__item {
    min-width: 65%;
  }
}

.sub-recipes__item--tablets {
  display: none;
}

@media (max-width: 1434px) and (min-width: 937px) {
  .sub-recipes__item--tablets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.sub-recipes__item-img {
  padding-top: 40px;
}

.sub-recipes__item-name {
  font-size: 18px;
  max-width: 300px;
}

.sub-recipes__item-info {
  font-size: 12px;
  color: #555;
}

.sub-recipes__item i {
  padding-top: 5px;
  padding-right: 7px;
}

.scroll-recipe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 77.7777777%;
  margin-top: 80px;
  max-width: 1120px;
}

@media (max-width: 1200px) {
  .scroll-recipe {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.scroll-recipe img {
  max-width: 50%;
  min-width: 420px;
}

@media (max-width: 1200px) {
  .scroll-recipe img {
    min-width: 339px;
    min-height: 275px;
    padding-top: 20px;
  }
}

@media (max-width: 1200px) and (max-width: 600px) {
  .scroll-recipe img {
    padding-top: 0;
    min-width: 100%;
  }
}

.scroll-recipe__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 55%;
  height: 440px;
  margin: 0 45px 10px 30px;
}

@media (max-width: 1200px) {
  .scroll-recipe__header {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .scroll-recipe__header {
    min-width: 90%;
  }
}

.scroll-recipe__header-name {
  font-family: 'Playfair Display', serif;
  color: #055555;
}

@media (max-width: 1200px) {
  .scroll-recipe__header-name {
    text-align: center;
  }
}

.scroll-recipe__header-info {
  color: #555;
  margin-top: -10px;
  margin-bottom: 25px;
}

.scroll-recipe__header-save {
  background-color: white;
  float: right;
  padding: 3px;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #555;
  font-size: 12px;
}

.scroll-recipe__scroll {
  overflow-y: scroll;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .scroll-recipe__scroll {
    margin-bottom: 0;
  }
}

.scroll-recipe__scroll::-webkit-scrollbar-thumb {
  background: #555;
}

.scroll-recipe__scroll::-webkit-scrollbar {
  width: 2px;
  height: 7px;
  background-color: #ddd;
}

.scroll-recipe__scroll p {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.feedbacks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 77.7777777%;
  max-width: 1120px;
}

@media (max-width: 800px) {
  .feedbacks {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feedbacks__404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46%;
  min-width: 250px;
  margin-top: 115px;
  background-color: white;
  background-image: url("../img/sorry-404.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

@media (max-width: 1024px) {
  .feedbacks__404 {
    background-position: center;
    -webkit-background-size: 100% 60%;
            background-size: 100% 60%;
    background-repeat: no-repeat;
    background-color: #FBFCFD;
  }
}

@media (max-width: 800px) {
  .feedbacks__404 {
    display: none;
  }
}

.feedbacks__404-top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding-left: 9%;
  padding-top: 7px;
}

.feedbacks__404-text {
  text-align: center;
  margin-top: 150px;
  font-size: 32px;
  font-weight: bold;
}

.feedbacks__404-subtext {
  margin-top: -22px;
  text-align: center;
  text-transform: uppercase;
  color: darkgray;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.feedbacks__404-back {
  padding: 5px 35px;
  margin-top: 115px;
  margin-bottom: 50px;
  border: 1px solid #c2c2c2;
  text-transform: uppercase;
  color: #3e3e3e;
  font-size: 12px;
}

.feedbacks__404 hr {
  margin-top: -10px;
}

.feedbacks__author {
  width: 46%;
  margin-top: 115px;
  background-color: white;
}

@media (max-width: 800px) {
  .feedbacks__author {
    width: 100%;
  }
}

.feedbacks__author-top {
  padding-left: 9%;
  padding-top: 7px;
}

.feedbacks__author-border {
  border-color: #ddd;
  margin-top: -10px;
  width: 85%;
}

.feedbacks__author-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
}

.feedbacks__author-photo {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: 4%;
  max-width: 30%;
  padding: 2%;
}

@media (max-width: 1200px) and (min-width: 800px) {
  .feedbacks__author-photo {
    padding-top: 20px;
  }
}

.feedbacks__author-info {
  padding-left: 2%;
}

.feedbacks__author-text {
  font-style: italic;
}

@media (max-width: 1280px) {
  .feedbacks__author-text {
    margin-left: -45%;
  }
}

@media (max-width: 800px) and (min-width: 650px) {
  .feedbacks__author-text {
    padding-top: 30px;
  }
}

.feedbacks__author-header {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
}

.feedbacks__author-name {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 25px;
}

.feedbacks__author-location {
  display: inline-block;
  color: black;
  padding: 8px 0px;
}

.feedbacks__author-signature {
  float: right;
  max-width: 50%;
}

.feedbacks__author i {
  padding-right: 7px;
  padding-bottom: 8px;
  color: #aaa;
}

.fa-google-plus:hover {
  color: #dc473a;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-facebook:hover {
  color: #4867aa;
}

.fa-pinterest:hover {
  color: #bd081b;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 71.18055555%;
  max-width: 1025px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.first-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

@media (max-width: 1240px) {
  .first-column {
    display: none;
  }
}

.small-recipe {
  margin-top: 100px;
  background-color: white;
}

.small-recipe__header {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 22px;
  color: #055555;
}

.small-recipe__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8%;
}

.small-recipe__text {
  margin-left: 6%;
}

.small-recipe__icons {
  font-size: 12px;
  color: #555;
}

.small-recipe__author {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.small-recipe__recipe {
  width: 100%;
  display: block;
}

.small-recipe hr {
  margin-top: -15px;
}

.small-recipe i {
  padding-top: 5px;
  padding-right: 7px;
}

.target {
  margin-top: 40px;
  background-color: white;
}

.target__header {
  padding-left: 8%;
  font-size: 20px;
  font-weight: 400;
}

.target__header-icons {
  white-space: nowrap;
  float: right;
  margin-right: 8%;
  font-size: 16px;
}

.target__header-icons i {
  padding-right: 10px;
  color: #555;
}

.target__sub-header {
  padding-left: 10%;
  margin: 18px 0 30px 0;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 20px;
  color: #055555;
}

.target__info {
  position: relative;
  margin: 0;
  padding-left: 9%;
  width: 66%;
  color: #9f9f9f;
}

.target__info-class {
  font-size: 18px;
}

.target__info-text {
  font-size: 14px;
  font-style: italic;
}

.target__info-inside {
  position: absolute;
  bottom: 30%;
  right: 105%;
  font-size: 21px;
}

.target__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  padding-top: -10px;
}

.target__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  padding-top: 45px;
}

.target-info {
  margin: 0;
  padding-left: 7%;
}

.target__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  padding-bottom: 55px;
  padding-left: 10%;
}

.target hr {
  margin-top: -15px;
}

.fa-envelope-o:hover {
  color: #4867AA;
}

.fa-print:hover {
  color: #BD081B;
}

.second-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

@media (max-width: 1240px) {
  .second-column {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .second-column {
    width: 90%;
    margin: 0 auto;
  }
}

.level-recipes {
  margin-top: 100px;
  background-color: white;
}

@media (max-width: 1240px) {
  .level-recipes {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

.level-recipes__header {
  padding-left: 8%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.level-recipes__header-text {
  line-height: 20px;
  font-size: 12px;
}

.level-recipes__header-icons {
  white-space: nowrap;
  float: right;
  margin-right: 8%;
  font-size: 16px;
  color: #555;
}

@media (max-width: 1024px) {
  .level-recipes__header-icons .fa-print {
    display: none;
  }
}

.level-recipes__levels {
  text-align: center;
}

.level-recipes__recipe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}

@media (max-width: 1024px) {
  .level-recipes__recipe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .level-recipes__recipe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.level-recipes__recipe--first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .level-recipes__recipe--first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .level-recipes__recipe--first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.level-recipes__text {
  display: inline-block;
  padding-left: 20px;
  width: 70%;
}

@media (max-width: 1024px) {
  .level-recipes__text {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .level-recipes__text {
    width: 70%;
    text-align: left;
    padding-left: 0;
  }
}

.level-recipes__text-header {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
}

.level-recipes__text-by {
  font-weight: 300;
}

.level-recipes__text-subtext {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .level-recipes__text-subtext {
    text-align: left;
  }
}

.level-recipes__img {
  padding-left: 20px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

@media (max-width: 1024px) {
  .level-recipes__img {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
  }
}

.level-recipes__view {
  float: right;
  margin-right: 8%;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 8px 12px 5px 12px;
  border: 1px solid #999;
  text-transform: uppercase;
  font-size: 12px;
  color: #010101;
}

.level-recipes hr {
  margin-top: -15px;
}

.level-recipes i {
  padding-right: 10px;
}

.unpicked, .picked {
  width: 30%;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  border: none;
  background: none;
}

.unpicked {
  color: #999;
  cursor: pointer;
}

.picked {
  color: #000;
  font-weight: 700;
}

.tags {
  margin-top: 45px;
  background-color: white;
}

@media (max-width: 1240px) {
  .tags {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 600px) {
  .tags {
    display: none;
  }
}

.tags__header {
  padding-left: 8%;
  line-height: 10px;
  font-size: 20px;
  font-weight: 400;
}

.tags__text {
  margin: 0;
  padding-left: 8%;
  padding-bottom: 15px;
  max-width: 90%;
  line-height: 25px;
  word-spacing: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.tags hr {
  margin-top: -15px;
}

.calendar {
  margin-top: 45px;
  margin-bottom: 95px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
}

@media (max-width: 1240px) {
  .calendar {
    display: none;
  }
}

.calendar__header {
  padding-left: 8%;
  line-height: 10px;
  font-size: 20px;
  font-weight: 400;
}

.calendar__wrapper {
  margin: 0 auto;
  width: 80%;
}

.calendar__wrapper table {
  width: 100%;
  margin-top: -8px;
}

.calendar__wrapper td {
  height: 36px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.calendar__wrapper td.not-current {
  color: #c2c2c2;
}

.calendar__wrapper td.today {
  color: black;
  font-weight: 700;
  font-size: 17px;
}

.calendar hr {
  margin-top: -15px;
}

#btnPrev, #btnNext {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #555;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

#btnPrev {
  margin-left: 11%;
}

#btnNext {
  margin-left: 83%;
}

.third-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27.8%;
}

@media (max-width: 1240px) {
  .third-column {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .third-column {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .third-column {
    width: 90%;
    margin: 0 auto;
    margin-top: -30px;
  }
}

.popular {
  margin-top: 100px;
  padding-bottom: 130px;
  background-image: url("../img/coffee.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  padding-right: 5%;
  padding-left: 5%;
}

.popular__header {
  margin-top: 17px;
  margin-bottom: 32px;
  font-family: 'Playfair Display', serif;
  color: #921026;
  font-size: 32px;
  font-weight: 900;
}

@media (max-width: 1400px) {
  .popular__header {
    text-align: center;
  }
}

.popular__sub-header {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

.popular__text {
  font-weight: 400;
  margin-top: 10px;
}

.popular__info {
  white-space: nowrap;
}

.popular i {
  padding-left: 2%;
  font-size: 13px;
  color: #555;
}

@media (max-width: 1400px) {
  .popular i {
    display: none;
  }
}

.popular a {
  display: inline-block;
  padding: 8px 12px 5px 12px;
  border: 1px solid #999;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 1400px) {
  .popular a {
    display: block;
    max-width: 95px;
    margin-left: auto;
    margin-right: auto;
  }
}

.time {
  margin-top: 45px;
  background-color: white;
  width: 100%;
  /* I just drew "lines" element like normal, and turned it on 270*,
    when you add your properties of width/height, paddings/margins to &-item
    keep in mind that they rotated */
}

@media (max-width: 600px) {
  .time {
    display: none;
  }
}

.time__header {
  padding-left: 8%;
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
}

.time__header-icons {
  white-space: nowrap;
  margin-right: 8%;
  float: right;
  font-size: 16px;
}

.time__header-icons i {
  padding-right: 10px;
  color: #555;
}

@media (max-width: 768px) {
  .time__header-icons i {
    display: none;
  }
}

@media (max-width: 1024px) {
  .time__header-icons .fa-print {
    display: none;
  }
}

.time__sub-header {
  padding-left: 11%;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 20px;
  color: #055555;
}

.time__lines {
  max-width: 50%;
  margin: 0 auto;
  white-space: nowrap;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-bottom: -20px;
  margin-top: 30px;
}

@media (max-width: 900px) {
  .time__lines {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .time__lines {
    margin-top: 90px;
  }
}

.time__lines-hr {
  width: 66.666%;
}

.time__lines-item {
  padding-top: 15%;
  padding-bottom: 15%;
}

@media (max-width: 1400px) {
  .time__lines-item {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.time__text {
  margin: 13px auto;
  width: 66.666%;
}

.forms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 51.7%;
  max-width: 1025px;
}

@media (max-width: 1240px) {
  .forms {
    margin-top: 100px;
  }
}

@media (max-width: 1024px) {
  .forms {
    width: 70%;
  }
}

.forms-container {
  width: 85%;
  margin: 0 auto;
}

.login {
  width: 43%;
  background-color: #fff;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

@media (max-width: 600px) {
  .login {
    width: 80%;
    margin: 0 auto;
  }
}

.login__header {
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 1%;
  font-size: 20px;
  font-weight: 400;
}

.login__sub-header {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 1%;
}

.login__login-input {
  padding-left: 15px;
  margin-bottom: 23px;
}

.login__password-input {
  padding-left: 15px;
  margin-bottom: 15px;
}

.login__remember {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.login__remember-checkbox {
  outline: none;
}

@media (max-width: 1283px) {
  .login__remember {
    display: block;
    text-align: center;
  }
}

.login__forgot {
  float: right;
  margin-top: 4px;
  padding-left: 20px;
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1283px) {
  .login__forgot {
    float: none;
    text-align: center;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: -10px;
  }
}

.login__button {
  display: block;
  width: 100px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background: none;
  cursor: pointer;
  border: 1px solid #c2c2c2;
  outline-color: #979797;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  color: #3f3f3f;
}

.login__social {
  margin-top: 4px;
  text-align: center;
  color: #555;
}

.login__social-google {
  margin-left: 8px;
}

.login__sign-in {
  padding-bottom: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.login .login__login-input, .login .login__password-input, .login .sign__email-input, .login .sign__name-input, .login .sign__password-input {
  height: 40px;
  width: 100%;
  outline-color: #979797;
  color: #555;
  border: 1px solid #c2c2c2;
}

.login .login__login-input::-webkit-input-placeholder, .login .login__password-input::-webkit-input-placeholder, .login .sign__email-input::-webkit-input-placeholder, .login .sign__name-input::-webkit-input-placeholder, .login .sign__password-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.login hr {
  border-color: #ddd;
}

.sign {
  background-color: #fff;
  width: 43%;
}

@media (max-width: 600px) {
  .sign {
    width: 80%;
    margin: 50px auto;
  }
}

.sign__header {
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 1%;
  font-size: 20px;
  font-weight: 400;
}

.sign__sub-header {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 1%;
}

.sign__button {
  display: block;
  width: 100px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  background: none;
  cursor: pointer;
  border: 1px solid #c2c2c2;
  outline-color: #979797;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  color: #3f3f3f;
}

.sign__social {
  margin-top: 4px;
  text-align: center;
  color: #555;
}

.sign__social-google {
  margin-left: 8px;
}

.sign__terms {
  padding-bottom: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  width: 85%;
  margin: 0 auto;
}

.sign__terms-link {
  color: #002dd6;
  text-decoration: underline;
}

.sign .login__login-input, .sign .login__password-input, .sign .sign__email-input, .sign .sign__name-input, .sign .sign__password-input {
  padding-left: 15px;
  margin-bottom: 15px;
  height: 40px;
  width: 100%;
  outline-color: #979797;
  color: #555;
  border: 1px solid #c2c2c2;
}

.sign .login__login-input::-webkit-input-placeholder, .sign .login__password-input::-webkit-input-placeholder, .sign .sign__email-input::-webkit-input-placeholder, .sign .sign__name-input::-webkit-input-placeholder, .sign .sign__password-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.sign hr {
  border-color: #ddd;
}

.comments {
  width: 58.3%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1025px;
}

.post {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  background: #fff;
}

.post__text {
  padding-top: 25px;
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 400;
}

.post__text-social {
  float: right;
  padding-top: 5px;
  font-size: 16px;
}

@media (max-width: 680px) {
  .post__text-social {
    display: inline-block;
    float: none;
    margin-top: 10px;
  }
}

.post__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
}

.post__form-face {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-left: 2.6%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (max-width: 600px) {
  .post__form-face {
    display: none;
  }
}

.post__form-input {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 66.6%;
  height: 40px;
  padding-left: 1%;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #c2c2c2;
  outline-color: #979797;
  color: #555;
}

.post__form-button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 80px;
  height: 40px;
  margin-left: 1%;
  margin-right: 5px;
  border: 1px solid #c2c2c2;
  background: #383737;
  outline-color: #979797;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

.board {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 45px;
  background: white;
}

.make-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bgred {
  background-color: red;
}

.bgwhite {
  background-color: #fff;
}

.coffee {
  max-width: 25%;
}

.coffee__pic {
  position: relative;
}

.coffee__text {
  top: 150px;
  position: absolute;
}

.post__pic {
  background-color: grey;
  width: 75%;
  margin-left: 15%;
  padding: 10px;
}

.post__input {
  width: 66.6%;
}

.img-fluider {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.width-max {
  border-top-color: black;
  width: 100%;
  padding-left: 5%;
}

.floatright {
  float: right;
  margin-top: -50px;
}

.margin-bottom {
  margin-bottom: 70px;
}

.changer-width {
  width: 50%;
  background-color: grey;
  height: 20px;
}

.changer {
  height: 100px;
  width: 100%;
  background: white;
}

.footer {
  background-color: grey;
}

.footer__img {
  margin: 50px;
}
